.night {
	body, #mbagym-container, .bottom-part{
		background:#000!important;
		color:#AAA!important;
	}
	.side-container, .box-title a, table th, table tr, .oneStory, #mbagym-container ul.quizlist li, #gymslides .slide{
		background:transparent!important;
		color:#AAA!important;
	}
	.side-container .list-title, .box-title, table caption, table tr.row-odd, table tbody tr:nth-child(2n), .image figure, .banner-content, #allcomments .commentcontainer, .commentcontainer, .ebook-image-container .ebook-image-inner:before, .book-title-container, #mbagym-container[theme="defau"] .quizlist li.selected, #mbagym-container .rightanswer {
		background: #333!important;
	}
	.item-lead,  {
		color:#999!important;
	}
	a, .item-tag a, .item-headline a, .relative-container a, .item-time.highlight, .item-time, .block-container a {
		color:#BBB!important;
	}
	.story-headline-large:after {
		border-color:#BBB!important;
	}
	.side-container .list-title a, button, .story-body, #allcomments .commentcontainer, .commentcontainer, .is-current, .story-body a  {
		color: #AAA!important;
	}
}