.night {
	body, #mbagym-container, .bottom-part, td {
		background:#000!important;
		color:#AAA!important;
	}
	.card-grid .item-container.no-image .item-inner, .o-member-container .o-member {
		background:#333333!important;
	}
	.card-grid .item-container.no-image.blue .item-inner {
		background:#0f5499!important;
	}
	.card-grid .item-container.no-image.purple .item-inner {
		background:#593380!important;
	}
	.card-grid .item-container.no-image.dark-green .item-inner {
		background:#0a5e66!important;
	}
	.side-container, .box-title a, table th, table tr, .oneStory, #mbagym-container ul.quizlist li, #gymslides .slide, .user_id, .list-title, .list-title a.list-link, .commentTextArea, .box-title, .cmt_quote, .showcmt{
		background:transparent!important;
		color:#AAA!important;
	}
	table caption, table tr.row-odd, table tbody tr:nth-child(2n), .image figure, .banner-content, #allcomments .commentcontainer, .commentcontainer, .ebook-image-container .ebook-image-inner:before, .book-title-container, #mbagym-container[theme="defau"] .quizlist li.selected, #mbagym-container .rightanswer, .card-container {
		background: #333!important;
	}
	.side-container .list-title {
		background: transparent!important;
		border-top: 4px solid #BBB!important;
	}
	.item-lead, .pic {
		color:#999!important;
	}
	a, .item-tag a, .item-headline a, .relative-container a, .item-time.highlight, .item-time, .block-container a, .ui-light-btn, h2 {
		color:#BBB!important;
	}
	.n-content-pullquote__content:before, .n-content-blockquote:before {
		background-image: url('https://d19jtp7o05v915.cloudfront.net/icons/svg/fticon-v1_speech-left-white.svg')!important;
	}
	.story-headline-large:after, .n-content-blockquote {
		border-color:#BBB!important;
	}
	.side-container .list-title a, button, .story-body, #allcomments .commentcontainer, .commentcontainer, .cmt_quote, .showcmt, .is-current, .story-body a  {
		color: #AAA!important;
	}
	.has-side .content-inner, .list-title, .PT, .oneStory, .storyInner, .top10 li, .side-by-side .item-headline {
		border-color: transparent!important;
	}
	.list-title {
		padding-left: 0!important;
	}
}

@media only screen and (max-width: 810px) and (min-width: 691px) {
	.night {
		.has-side .content-inner {
			border-color: #333!important;
		}
	}
}