node_modules
dist
.tmp
bower_components
test/bower_components
.DS_Store
app/templates/hotstories.json
app/templates/localbackup.html
app/templates/register.html
app/templates/service.html
app/templates/dailyenglishbackup.html
app/templates/schedule.json