<!DOCTYPE html>
<html class="no-js core" data-next-app="front-page">
 <head>
 <meta charset="utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta http-equiv="Content-Language" content="zh-CN"/>
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />


<style>{{person-css}}</style>

<!-- MARK: Important: Need to add Google Analytics load events manually -->
<script>
{{analytics}}
</script>
<script>
ga('create', 'UA-1608715-1', 'auto');
ga('require', 'displayfeatures');
if (window.gAutoStart === undefined) {
try {
trackerNew();
}catch(err){
ga('send', 'pageview');
}
}
</script>
<!-- End Google Analytics -->
<!-- link click -->
<script>
function linkClickGa(e){
ga('send','event','AdClick', $(e).attr("href"), "An");
}
</script>
<!-- End link click -->
<!-- FTC Analytics -->
<script>
fa('create', 'UA-XXXX-Y', { 'alwaysSendReferrer': true });   // Replace with your property ID.
if (window.gAutoStart === undefined) {fa('send', 'pageview');}
</script>
<!-- End FTC Analytics -->
<!-- Log Analytics -->
<script>
if (window.gAutoStart === undefined) {
(function(d, s, u, j, x) {
j = d.createElement(s),
x = d.getElementsByTagName(s)[0];
j.async = true;
j.src = u;
x.parentNode.insertBefore(j, x)
})(document, 'script', 'http://static.ftchinese.com/js/log.js?v=7&20160318');
}
</script>
<!-- End Log Analytics -->
<!-- Baidu Analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?6f808c64c1308274ef22324b340e40af";
var s = document.getElementsByTagName("script")[0]; 
s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- End Baidu Analytics -->
<script type="text/javascript">{{story-js-key}}</script>

<style>
.account-container {
	margin: 14px auto;
	max-width: 414px;
}
.user-name-container {
	font-size: 1.2em;
	margin-bottom: 1em;
}
</style>
</head>



<body>

<div class="account-container">

<!--<div id="logincomment" class="logincomment">
<form id="storyForm">
<div class="comment-input-container">
<div class=container>
<span style="display:none">
<input name="use_nickname" type="hidden" id="name" onclick="unuseit(this);"/>
<label for="name" style="display:none">匿名</label>
<input name="use_nickname" type="radio" id="userid" value="0" onclick="useit(this);" checked/>
<input type="text"  autocorrect="off" class="user_id textinput nick_name" name="NickName" id="nick_name" value=""/>
</span>
<div class="user-name-container">欢迎您，<span class="user_Name"></span></div>
<input type="button" value="登出" class="comment_btn button ui-light-btn" onclick="javascript: logout();"/>
<input type="hidden" name="storyid"  id=cstoryid value=""/>
<div class="logged"><div class="statusmsg"></div></div>
</div>
</div>
</form>
</div>-->
<div  id="nologincomment" class="nologincomment">
    <div class="container">
        <div class = "comment-logo-section">LOGO</div>
        <div class = "comment-input-section">
            <label><img src="http://static.ftchinese.com/images/png/accountUser.png"/></label>
            <input type="text" placeholder="请输入账户" autocorrect="off" name="username" id="username1" class=""/> 
        </div>
        <div class = "comment-input-section">
            <label><img src="http://static.ftchinese.com/images/png/accountPassword.png"/></label>
            <input type="text" placeholder="请输入密码" autocorrect="off" name="username" id="username1" class=""/>
            <label class="password-eye"><img src="http://static.ftchinese.com/images/png/accountEye.png"/></label>
        </div>
        <input type="submit" value="登录" class="ui-login-btn" onclick="login(1)"/> 
        <div  class = "comment-register-section">
            <label>注册新用户</label>
            <label>|</label>
            <label>忘记密码？</label>
        </div>
        <div  class = "comment-register-section">
            <a class="" href="weixinlogin://www.ftchinese.com/"><img src="http://static.ftchinese.com/images/png/accountWeiXin.png"></a><br>
            <label>微信账户登录</label>
        </div>
    </div>
</div>


</div>

</body>
<script type="text/javascript">
    // checkLogin();
</script>
</html>