		            
<script type="text/javascript">
var adchIDNew = window.location.href.replace(/^.*adchannelID=([0-9]{4}).*$/g,'$1');
if (/^[0-9]{4}$/.test(adchIDNew)) {
window.adchID = adchIDNew;
} else {
window.adchID = '5000';
}
window.adChannelId = window.adchID;
document.title = '每日英语';
</script>
<!-- zone: english-->
<!-- topnav:english subnav: pageId:english-->
<script type="text/javascript">
function parseUserkv(n){var c={},i=n.split(";");if(0!==i.length)return i.forEach(function(n){var i=n.split("|");2===i.length&&(c[i[0]]=i[1])}),c}function getDfpTargetingStr(n){var c="";return n.sex&&(c+="cnsex="+n.sex+";"),n.cs&&(c+="cncs="+n.cs+";"),n.csp&&(c+="cncsp="+n.csp+";"),n.hi&&(c+="cnhi="+n.hi+";"),n.in&&(c+="cnin="+n.in+";"),n.wf&&(c+="cnwf="+n.wf+";"),c}</script>
<script>
// MARK: - the cookie USER_KV is set from server side when user logs in
var userKv = GetCookie('USER_KV');
var dfpTargetingStr = '';
if (userKv) {
var userKvObj = parseUserkv(userKv);
dfpTargetingStr = getDfpTargetingStr(userKvObj);
}
if (gUserType && gUserType !== '') {
dfpTargetingStr = 'cnuser=' + gUserType + ';' + dfpTargetingStr;
}
window.uaString = navigator.userAgent || navigator.vendor || '';
window.isWeChat = (/micromessenger/i.test(window.uaString));
if (window.location.href.indexOf('webview=ftcapp') >= 0) {
dfpTargetingStr = 'cnplatform=app;' + dfpTargetingStr;
} else if (window.isWeChat) {
dfpTargetingStr = 'cnplatform=wechat;' + dfpTargetingStr;
} else {
dfpTargetingStr = 'cnplatform=web;' + dfpTargetingStr;
}
if (window.cntopic && window.cntopic !== '') {
dfpTargetingStr = 'cntopic=' + window.cntopic + ';' + dfpTargetingStr;
}
if (window.languagePreference && window.languagePreference >= 0) {
dfpTargetingStr = 'cnlp=' + window.languagePreference + ';' + dfpTargetingStr;
}
//console.log ('Getting user type for google ad manager: ' + window.gUserType);
var configJson = JSON.stringify({
gpt: {
"network": 21753042392,
"site": "FtChinese",
"zone": 'english'
},
collapseEmpty: 'before',
dfp_targeting: dfpTargetingStr,
formats: {
"FtcLeaderboard" : {
"sizes":[[1200, 120], [1200, 400], [1200, 250], [969, 90], [969, 400], [969, 250]]
},
"FtcBanner": {
"sizes":[[1200, 120], [969, 90]]
},
"FtcMobileBanner": {
"sizes": [[414, 104]]
},
"FtcMobileMpu":{
"sizes":[[300, 250]]
},
"FtcMpu":{
"sizes":[[300, 250], [300, 600], [300,1050]]
},
"FtcInfoFlow":{
"sizes":[[400, 300]]
},
"FtcMobileFullscreen": {
"sizes":[[414, 736]]
},
"FtcPcFullscreen":{
"sizes":[[700, 520]]
},
"FtcPaidpost":{
"sizes":[[280, 350]]
},
"FtcRibbon":{
"sizes":[[300, 60]]
},
"FtcMembertext":{
"sizes":[[300, 47]]
},
"FtcInRead":{
"sizes":[[700, 520]]
}
}
});
var configScriptJsonStr = '<scr'+'ipt data-o-ads-config="" type="application/json">'+configJson+'</scr'+'ipt>';
document.writeln(configScriptJsonStr);
</script><script>
window.newAd = true;
</script>
<div class="o-ads" data-o-ads-name="banner1"
data-o-ads-center="true" 
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcMobileBanner" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="FtcLeaderboard"
data-o-ads-formats-extra="FtcLeaderboard"
data-o-ads-targeting="cnpos=top1;"
data-cy='[{"devices":["PC"],"pattern":"Leaderboard","position":"Num1"},{"devices":["iPhoneWeb","AndroidWeb","iPhoneApp","AndroidApp"],"pattern":"Banner","position":"Num1"}]'
>
</div>
<div class="block-container no-side">
<div class="block-inner">
<div class="content-container">
<div class="content-inner">
<div class="list-container">
<div class="list-inner">
<div class="items hide" id="membership-login-prompt">
<div class="no-image">
<div class="item-inner">
<div class="item-lead">您还没有登录。如果您希望使用已经购买的会员服务，<a href="screen://myft/account">请点击此处登录。</a></div>
</div>
</div>
</div>
<div class="items hide" id="membership-yellow-card-prompt">
<div class="no-image">
<div class="item-inner">
<div class="item-lead">
<div class="warn">亲爱的会员，您的账户近期在多台设备上异常登录。您的账户仅限您本人使用，如不是您本人操作，可能您的账号已泄漏。请您尽快进行如下操作：</div>
<div class="warn">1. <a href="https://user.ftchinese.com/setting" target="_blank">修改密码，并妥善保护好新密码</a>。</div>
<div class="warn">2. <a class="email-link" href="mailto: customer.service@ftchinese.com?subject=Appeal: Warning">点击此处寻求帮助</a>。</div>
<div class="warn">为了保护您的利益，我们已经暂时锁定您的订阅账户，如有疑问，请联系客服。</div>
</div></div>
</div>
</div>
</div>
<script>window.gYellowCardUserIds = '';</script>
<div class="items hide" id="membership-red-card-prompt">
<div class="no-image">
<div class="item-inner">
<div class="item-lead"><div class="warn">
亲爱的会员，您的账号近期在多台设备上频繁异常登录。您的账户仅限您本人使用。为了保证您的利益，该账户已被暂时锁定。您可以：
<a class="email-link" href="mailto: customer.service@ftchinese.com?subject=Appeal: Red Warning">点击此处与我们联系进行认证</a>。
</div></div>
</div>
</div>
</div>
<script>window.gRedCardUserIds = '';</script>
<script>checkUserWarnings();</script>
</div>
</div>
<div class="clearfloat block-bottom"></div>
</div>
</div>
<div class="clearfloat"></div>
</div>
</div>
<div class="block-container has-side side-right"><div class="block-inner">
<div class="content-container">
<script type="text/javascript">
window.gSubscriptionEventLabel = 'Page/english';
</script>
<div id="paywall-hint-container" style="display: none;">
<div class="paywall-overlay-shadow" id="paywall-overlay-shadow"></div>
<div id="paywall-box" class="subscribe-lock-container"> 
<div class="lock-block">
<div>
<div class="lock-content">成为付费会员，阅读FT独家内容
</div>
<div class="lock-content">如果已经是会员，请<a href="http://user.ftchinese.com/login" class="o-client-id-link">点击这里</a>登录
</div>
</div>
<div class="subscribe-btn" ><a href="http://www.ftchinese.com/index.php/ft/subscription?el=english"  id="subscribe-now" class="o-client-id-link">成为会员&#x25BA;</a></div>
</div>
</div>
</div>
<script type="text/javascript">updateClientIdLinks();</script><div class="content-inner">
  
<div class="list-container"><div class="list-inner"><div class="items">

 

<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14414" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/zero sum game.mp3" data-sub-type="radio" data-keywords="每日一词,音频,会员专享"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/每日一词">每日一词</a></div><a target="_blank" href="/interactive/14414?topnav=english" class="item-headline-link locked">每日一词：ZERO-SUM GAME</a></h2>
<a class="image" target="_blank" href="/interactive/14414?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000085930_piclink.jpg"></figure>
</a>
<div class="item-lead">小词大智慧，每天打卡更有助于记忆，跟麦可林一起坚持学单词。</div><div class="item-time highlight">1小时前</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="infoflow1"
class="o-ads infoflow"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcInfoFlow" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=info1;"
>
</div>
 
 
<div class=" ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14444" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/1b1dffce-056c-11ea-a984-fbbacad9e7dd.mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/英语电台">英语电台</a></div><a target="_blank" href="/interactive/14444?topnav=english" class="item-headline-link locked">圣诞装饰如何唤醒我们的感官和记忆？</a></h2>
<a class="image" target="_blank" href="/interactive/14444?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000091840_piclink.jpg"></figure>
</a>
<div class="item-lead">英国《金融时报》的建筑评论家对一盒圣诞装饰品的回味。</div><div class="item-time highlight">2小时前</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" MT ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14443" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/9ba998be-2192-11ea-92da-f0c92e957a96.mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/英语电台">英语电台</a></div><a target="_blank" href="/interactive/14443?topnav=english" class="item-headline-link locked">芬兰的社会流动性让人羡慕</a></h2>
<a class="image" target="_blank" href="/interactive/14443?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/9/000091839_piclink.jpg"></figure>
</a>
<div class="item-lead">美国和英国的领导人被桑娜·马林（芬兰最高领导人）的光环所笼罩。</div>
<div class="item-bottom"></div>
</div></div>
<div id="iap-highlight"></div>
 
 
<div class=" XLT LT ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14437" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/2867d79e-1fe4-11ea-92da-f0c92e957a96.mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/英语电台">英语电台</a></div><a target="_blank" href="/interactive/14437?topnav=english" class="item-headline-link locked">寻找自由的民族主义</a></h2>
<a class="image" target="_blank" href="/interactive/14437?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/4/000091774_piclink.jpg"></figure>
</a>
<div class="item-lead">英国首相约翰逊有机会证明，这并不是一种自相矛盾的说法。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" MT ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14405" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/carbon neutrality.mp3" data-sub-type="radio" data-keywords="每日一词,音频,会员专享"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/每日一词">每日一词</a></div><a target="_blank" href="/interactive/14405?topnav=english" class="item-headline-link locked">每日一词：CARBON NEUTRALITY</a></h2>
<a class="image" target="_blank" href="/interactive/14405?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000085930_piclink.jpg"></figure>
</a>
<div class="item-lead">小词大智慧，每天打卡更有助于记忆，跟麦可林一起坚持学单词。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14438" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/22b5f38a-20d9-11ea-92da-f0c92e957a96.mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/英语电台">英语电台</a></div><a target="_blank" href="/interactive/14438?topnav=english" class="item-headline-link locked">再见！那些创造性的破坏</a></h2>
<a class="image" target="_blank" href="/interactive/14438?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/5/000091775_piclink.jpg"></figure>
</a>
<div class="item-lead">在16年的商业专栏中，唯一不变的是颠覆性创新。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" XLT LT MT ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14434" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/b65df0c8-fe4d-11e9-b7bc-f3fa4e77dd47.mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/英语电台">英语电台</a></div><a target="_blank" href="/interactive/14434?topnav=english" class="item-headline-link locked">水力压裂禁令：竞选还是地质学？</a></h2>
<a class="image" target="_blank" href="/interactive/14434?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/1/000091741_piclink.jpg"></figure>
</a>
<div class="item-lead">科学家们认为英国不适合使用这项技术，而工业界反驳说，保守党是为了自己的选票。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14441" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/dada3bf0-2175-11ea-92da-f0c92e957a96.mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/英语电台">英语电台</a></div><a target="_blank" href="/interactive/14441?topnav=english" class="item-headline-link locked">《星球大战：天行者崛起》——有趣但同样精彩</a></h2>
<a class="image" target="_blank" href="/interactive/14441?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/9/000091799_piclink.jpg"></figure>
</a>
<div class="item-lead">虽然这部电影似乎有点虚张声势，但亚当·德赖弗是第九部也是最后一部天行者传奇的真正明星。</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="mpu-middle1"
class="o-ads"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcMobileMpu" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=middle1;"
data-cy='[{"devices":["iPhoneWeb","AndroidWeb","iPhoneApp"],"pattern":"MPU","position":"Middle1"}]'
>
</div>
 
 
<div class=" MT ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14436" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/42aa2664-1c12-11ea-9186-7348c2f183af.mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/英语电台">英语电台</a></div><a target="_blank" href="/interactive/14436?topnav=english" class="item-headline-link locked">年度总结：脱钩</a></h2>
<a class="image" target="_blank" href="/interactive/14436?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/3/000091773_piclink.jpg"></figure>
</a>
<div class="item-lead">美中关系解体可能是我们这个时代最重大的经济事件。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" XLT LT ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14412" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/micro-targeting.mp3" data-sub-type="radio" data-keywords="每日一词,音频,会员专享"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/每日一词">每日一词</a></div><a target="_blank" href="/interactive/14412?topnav=english" class="item-headline-link locked">每日一词：MICROTARGETING</a></h2>
<a class="image" target="_blank" href="/interactive/14412?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000085930_piclink.jpg"></figure>
</a>
<div class="item-lead">小词大智慧，每天打卡更有助于记忆，跟麦可林一起坚持学单词。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" MT ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14433" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/d9127eae-f99d-11e9-98fd-4d6c20050229 (2).mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/英语电台">英语电台</a></div><a target="_blank" href="/interactive/14433?topnav=english" class="item-headline-link locked">WhatsApp:以色列科技产品如何被用于间谍活动？</a></h2>
<a class="image" target="_blank" href="/interactive/14433?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/6/000091736_piclink.jpg"></figure>
</a>
<div class="item-lead">从卢旺达到沙特阿拉伯，许多国家都被指控监视持不同政见者和新闻记者。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     item-container-app has-image" data-id="14440" data-type="interactive" data-eaudio="http://creatives.ftacademy.cn/album/05e5fcf0-176a-11ea-9ee4-11f260415385.mp3" data-sub-type="speedreading" data-keywords="速读,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/channel/speedread.html">速读</a></div><a target="_blank" href="/interactive/14440?topnav=english" class="item-headline-link locked">英国脱欧后如何繁荣？</a></h2>
<a class="image" target="_blank" href="/interactive/14440?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/7/000091777_piclink.jpg"></figure>
</a>
<div class="item-lead">经济需要保持国际化，但也要支持落后的地区。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" XLT LT MT ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14432" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/e393debc-f4d0-11e9-b018-3ef8794b17c6.mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/英语电台">英语电台</a></div><a target="_blank" href="/interactive/14432?topnav=english" class="item-headline-link locked">黎巴嫩的大规模示威集中了政治思想</a></h2>
<a class="image" target="_blank" href="/interactive/14432?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/5/000091735_piclink.jpg"></figure>
</a>
<div class="item-lead">在酝酿已久的愤怒爆发中，一个经常寻求逃避现实的社会集体发出了呐喊。</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="infoflow2"
class="o-ads infoflow"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcInfoFlow" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=info2;"
>
</div>
 
 
<div class=" ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14413" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/modus vivendi.mp3" data-sub-type="radio" data-keywords="每日一词,音频,会员专享"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/每日一词">每日一词</a></div><a target="_blank" href="/interactive/14413?topnav=english" class="item-headline-link locked">每日一词：MODUS VIVENDI</a></h2>
<a class="image" target="_blank" href="/interactive/14413?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000085930_piclink.jpg"></figure>
</a>
<div class="item-lead">小词大智慧，每天打卡更有助于记忆，跟麦可林一起坚持学单词。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" MT ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     item-container-app has-image" data-id="14435" data-type="interactive" data-eaudio="http://creatives.ftacademy.cn/album/60937bc4-258d-11ea-9f81-051dbffa088d.mp3" data-sub-type="speedreading" data-keywords="速读,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/channel/speedread.html">速读</a></div><a target="_blank" href="/interactive/14435?topnav=english" class="item-headline-link locked">预防胜于治疗</a></h2>
<a class="image" target="_blank" href="/interactive/14435?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000091760_piclink.jpg"></figure>
</a>
<div class="item-lead">医疗保健专业人员可以从损失规避的经济学中学习很多东西。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" XLT LT ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14431" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/79bca8de-ec47-11e9-a240-3b065ef5fc55.mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/英语电台">英语电台</a></div><a target="_blank" href="/interactive/14431?topnav=english" class="item-headline-link locked">《爱尔兰人》——你难以拒绝斯科塞斯、德尼罗和帕西诺的邀请</a></h2>
<a class="image" target="_blank" href="/interactive/14431?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/4/000091734_piclink.jpg"></figure>
</a>
<div class="item-lead">《好家伙》和《赌城风云》的主演德尼罗和佩西在《爱尔兰人》再次合作，这是一场关于善，恶与死的史诗般深刻的“舞蹈”。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" MT ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14411" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/bandwagon.mp3" data-sub-type="radio" data-keywords="每日一词,音频,会员专享"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/每日一词">每日一词</a></div><a target="_blank" href="/interactive/14411?topnav=english" class="item-headline-link locked">每日一词：BANDWAGON</a></h2>
<a class="image" target="_blank" href="/interactive/14411?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000085930_piclink.jpg"></figure>
</a>
<div class="item-lead">小词大智慧，每天打卡更有助于记忆，跟麦可林一起坚持学单词。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14410" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/pyrrhic victory.mp3" data-sub-type="radio" data-keywords="每日一词,音频,会员专享"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/每日一词">每日一词</a></div><a target="_blank" href="/interactive/14410?topnav=english" class="item-headline-link locked">每日一词：PYRRHIC VICTORY</a></h2>
<a class="image" target="_blank" href="/interactive/14410?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000085930_piclink.jpg"></figure>
</a>
<div class="item-lead">小词大智慧，每天打卡更有助于记忆，跟麦可林一起坚持学单词。</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="mpu-middle2"
class="o-ads" 
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcMobileMpu" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=middle2;"
data-cy='[{"devices":["iPhoneWeb","AndroidWeb","iPhoneApp","AndroidApp"],"pattern":"MPU","position":"Middle2"}]'
>
</div>
 
 
<div class=" XLT LT MT ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14430" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/b7a2ad7a-1036-11ea-a7e6-62bf4f9e548a (1).mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/英语电台">英语电台</a></div><a target="_blank" href="/interactive/14430?topnav=english" class="item-headline-link locked">保护民主？从图书馆开始吧</a></h2>
<a class="image" target="_blank" href="/interactive/14430?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/4/000091714_piclink.jpg"></figure>
</a>
<div class="item-lead">民粹主义者正在缩减公共图书馆资金，而印度右翼的人民党正试图建设“政党图书馆”。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14429" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/4bf4277c-f527-11e9-a79c-bc9acae3b654 (1).mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/英语电台">英语电台</a></div><a target="_blank" href="/interactive/14429?topnav=english" class="item-headline-link locked">眼见是否为实？论政治上的造假有多严重</a></h2>
<a class="image" target="_blank" href="/interactive/14429?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/3/000091713_piclink.jpg"></figure>
</a>
<div class="item-lead">当人工智能生成的视频传播虚假信息的时候，初创企业和学者们却是在争夺技术领先。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" MT ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14428" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/7e5f985a-1759-11ea-8d73-6303645ac406.mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/英语电台">英语电台</a></div><a target="_blank" href="/interactive/14428?topnav=english" class="item-headline-link locked">多代同堂是解决孤独的“良药”</a></h2>
<a class="image" target="_blank" href="/interactive/14428?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/6/000091686_piclink.jpg"></figure>
</a>
<div class="item-lead">多代同堂的家庭可以解决各种社会经济问题。</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="infoflow3"
class="o-ads infoflow"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcInfoFlow" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=info3;"
>
</div>
 
 
<div class=" XLT LT ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14418" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/hung parliament.mp3" data-sub-type="radio" data-keywords="每日一词,音频,会员专享"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/每日一词">每日一词</a></div><a target="_blank" href="/interactive/14418?topnav=english" class="item-headline-link locked">每日一词：HUNG PARLIAMENT</a></h2>
<a class="image" target="_blank" href="/interactive/14418?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000085930_piclink.jpg"></figure>
</a>
<div class="item-lead">小词大智慧，每天打卡更有助于记忆，跟麦可林一起坚持学单词。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" MT ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14409" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/pollyanna.mp3" data-sub-type="radio" data-keywords="每日一词,音频,会员专享"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/每日一词">每日一词</a></div><a target="_blank" href="/interactive/14409?topnav=english" class="item-headline-link locked">每日一词：POLLYANNA</a></h2>
<a class="image" target="_blank" href="/interactive/14409?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000085930_piclink.jpg"></figure>
</a>
<div class="item-lead">小词大智慧，每天打卡更有助于记忆，跟麦可林一起坚持学单词。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14424" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/ae28da38-f4b8-11e9-bbe1-4db3476c5ff0.mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><div class=item-tag><a href="/tag/英语电台">英语电台</a></div><a target="_blank" href="/interactive/14424?topnav=english" class="item-headline-link locked">欧洲统一赋予了欧洲战略目标</a></h2>
<a class="image" target="_blank" href="/interactive/14424?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/9/000091639_piclink.jpg"></figure>
</a>
<div class="item-lead">与朝鲜和伊朗打交道的外交官应该回顾历史记录。</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="mpu-middle3"
class="o-ads" 
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcMobileMpu" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=middle3;"
data-cy='[{"devices":["iPhoneWeb","AndroidWeb","iPhoneApp","AndroidApp"],"pattern":"MPU","position":"Middle3"}]'
>
</div>
                                                                           <div class="clearfloat"></div>
</div>
</div></div>   
<div class="list-container"><div class="list-inner"><h2 class="list-title">
<a class="list-link" href="/channel/radio.html">FT英语电台</a>
</h2>
<div class="items">
<div class="no-image">
<div class="item-inner">
<div class="item-lead">每天听FT英语电台，你也能说一口正宗的伦敦腔</div>
</div>
</div>
</div>
<div class="items">

 

<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14444" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/1b1dffce-056c-11ea-a984-fbbacad9e7dd.mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14444?topnav=english" class="item-headline-link locked">圣诞装饰如何唤醒我们的感官和记忆？</a></h2>
<a class="image" target="_blank" href="/interactive/14444?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000091840_piclink.jpg"></figure>
</a>

<div class="item-bottom"></div>
</div></div>
 
 
<div class=" ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14443" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/9ba998be-2192-11ea-92da-f0c92e957a96.mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14443?topnav=english" class="item-headline-link locked">芬兰的社会流动性让人羡慕</a></h2>
<a class="image" target="_blank" href="/interactive/14443?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/9/000091839_piclink.jpg"></figure>
</a>

<div class="item-bottom"></div>
</div></div>
 
 
<div class=" MT ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14437" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/2867d79e-1fe4-11ea-92da-f0c92e957a96.mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14437?topnav=english" class="item-headline-link locked">寻找自由的民族主义</a></h2>
<a class="image" target="_blank" href="/interactive/14437?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/4/000091774_piclink.jpg"></figure>
</a>

<div class="item-bottom"></div>
</div></div>
 
 
<div class=" XLT LT ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14438" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/22b5f38a-20d9-11ea-92da-f0c92e957a96.mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14438?topnav=english" class="item-headline-link locked">再见！那些创造性的破坏</a></h2>
<a class="image" target="_blank" href="/interactive/14438?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/5/000091775_piclink.jpg"></figure>
</a>

<div class="item-bottom"></div>
</div></div>
 
 
<div class=" MT ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14434" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/b65df0c8-fe4d-11e9-b7bc-f3fa4e77dd47.mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14434?topnav=english" class="item-headline-link locked">水力压裂禁令：竞选还是地质学？</a></h2>
<a class="image" target="_blank" href="/interactive/14434?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/1/000091741_piclink.jpg"></figure>
</a>

<div class="item-bottom"></div>
</div></div>
 
 
<div class=" ST PT"></div>
<div class="item-container XL4 L4 S12 M6 P12     is-audio item-container-app has-image" data-id="14441" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/dada3bf0-2175-11ea-92da-f0c92e957a96.mp3" data-sub-type="radio" data-keywords="英语电台,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14441?topnav=english" class="item-headline-link locked">《星球大战：天行者崛起》——有趣但同样精彩</a></h2>
<a class="image" target="_blank" href="/interactive/14441?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/9/000091799_piclink.jpg"></figure>
</a>

<div class="item-bottom"></div>
</div></div>
                     <div class="clearfloat"></div>
</div>
</div></div>   
<div class="list-container"><div class="list-inner"><h2 class="list-title">
<a class="list-link" href="/channel/speedread.html">金融英语速读</a>
</h2>
<div class="items">
<div class="no-image">
<div class="item-inner">
<div class="item-lead">阅读FT英文原文，提升阅读能力</div>
</div>
</div>
</div>
<div class="items">

 

<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half item-container-app has-image" data-id="14440" data-type="interactive" data-sub-type="speedreading" data-keywords="速读,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14440?topnav=english" class="item-headline-link locked">英国脱欧后如何繁荣？</a></h2>
<a class="image" target="_blank" href="/interactive/14440?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net//picture/7/000091777_piclink.jpg"></figure>
</a>
<div class="item-lead">经济需要保持国际化，但也要支持落后的地区。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" MT PT"></div>
<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half item-container-app has-image" data-id="14435" data-type="interactive" data-sub-type="speedreading" data-keywords="速读,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14435?topnav=english" class="item-headline-link locked">预防胜于治疗</a></h2>
<a class="image" target="_blank" href="/interactive/14435?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net//picture/0/000091760_piclink.jpg"></figure>
</a>
<div class="item-lead">医疗保健专业人员可以从损失规避的经济学中学习很多东西。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" LT MT PT ST"></div>
<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half item-container-app has-image" data-id="14425" data-type="interactive" data-sub-type="speedreading" data-keywords="速读,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14425?topnav=english" class="item-headline-link locked">圣诞节商业化：一段漫长而又复杂的历史</a></h2>
<a class="image" target="_blank" href="/interactive/14425?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net//picture/7/000091667_piclink.jpg"></figure>
</a>
<div class="item-lead">当节日走进家庭，一个关键的转变就发生了。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class="XLT MT PT"></div>
<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half item-container-app has-image" data-id="14422" data-type="interactive" data-sub-type="speedreading" data-keywords="速读,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14422?topnav=english" class="item-headline-link locked">购物者如何掌控“购礼之旅”？</a></h2>
<a class="image" target="_blank" href="/interactive/14422?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net//picture/5/000091635_piclink.jpg"></figure>
</a>
<div class="item-lead">如今，消费者对产品的了解往往比零售商自己的员工更全面。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" LT MT PT ST"></div>
<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half item-container-app has-image" data-id="14394" data-type="interactive" data-sub-type="speedreading" data-keywords="速读,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14394?topnav=english" class="item-headline-link locked">投资者需要为政府干预做好准备</a></h2>
<a class="image" target="_blank" href="/interactive/14394?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net//picture/1/000091501_piclink.jpg"></figure>
</a>
<div class="item-lead">来自政客而非央行的干扰，将导致市场的动荡。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" MT PT"></div>
<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half item-container-app has-image" data-id="14390" data-type="interactive" data-sub-type="speedreading" data-keywords="速读,interactive_search,"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14390?topnav=english" class="item-headline-link locked">为什么债券比股票更能指引未来？</a></h2>
<a class="image" target="_blank" href="/interactive/14390?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net//picture/6/000091486_piclink.jpg"></figure>
</a>
<div class="item-lead">由政治新闻和承诺而推动的股市反弹是脆弱的。</div>
<div class="item-bottom"></div>
</div></div>
                     <div class="clearfloat"></div>
</div>
</div></div>   
<div class="list-container"><div class="list-inner"><h2 class="list-title">
<a class="list-link" href="/channel/ce.html">双语阅读</a>
</h2>
<div class="items">
<div class="no-image">
<div class="item-inner">
<div class="item-lead">FT原版文章，中英对照</div>
</div>
</div>
</div>
<div class="items">

 

<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half item-container-app has-image" data-id="001085805" data-type="story" data-date="1578352926" data-keywords="戈恩,日产,新干线,日本,日本司法体系"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/story/001085805/ce?topnav=english" class="item-headline-link ">戈恩逃亡过程中曾乘坐日本新干线</a></h2>
<a class="image" target="_blank" href="/story/001085805/ce?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/8/000082468_piclink.jpg"></figure>
</a>
<div class="item-lead">这一细节将填补有关日产前董事长逃亡过程的一大空白。但这将引发新的问题：他怎么做到在乘坐新干线时避免引起注意？</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" MT PT"></div>
<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half item-container-app has-image" data-id="001085786" data-type="story" data-date="1578266482" data-keywords="伊朗核协议,美伊关系,美国与伊朗,暗杀,伊拉克,伊朗,美国,美国外交,美国中东政策"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/story/001085786/ce?topnav=english" class="item-headline-link ">伊朗宣布不再遵守核协议任何承诺</a></h2>
<a class="image" target="_blank" href="/story/001085786/ce?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/2/000091832_piclink.jpg"></figure>
</a>
<div class="item-lead">这标志着2015年伊核协议形同崩溃，突显美国打死伊朗高级军事指挥官所引发的冲击波愈演愈烈。与此同时特朗普威胁要强势回应伊朗的报复行动。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" LT MT PT ST"></div>
<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half item-container-app has-image" data-id="001085767" data-type="story" data-date="1578006339" data-keywords="安邦保险,大家保险,保险业"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/story/001085767/ce?topnav=english" class="item-headline-link ">中国加紧处置安邦资产</a></h2>
<a class="image" target="_blank" href="/story/001085767/ce?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/4/000088614_piclink.jpg"></figure>
</a>
<div class="item-lead">监管申报文件显示，已更名为大家保险的该企业集团正寻求以262亿元人民币出售成都农村商业银行55%的股份。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class="XLT MT PT"></div>
<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half item-container-app has-image" data-id="001085745" data-type="story" data-date="1577921213" data-keywords="中美关系,中美经贸,美国,关税,中国经济"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/story/001085745/ce?topnav=english" class="item-headline-link ">特朗普：1月15日签署美中贸易协议</a></h2>
<a class="image" target="_blank" href="/story/001085745/ce?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/1/000090621_piclink.jpg"></figure>
</a>
<div class="item-lead">美国总统表示，他将于1月15日在白宫与中国高层代表签署“第一阶段”贸易协议。之后他将前往北京启动“第二阶段”谈判。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" LT MT PT ST"></div>
<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half item-container-app has-image" data-id="001085727" data-type="story" data-date="1577749268" data-keywords="蔚来,电动汽车,汽车业"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/story/001085727/ce?topnav=english" class="item-headline-link locked">蔚来汽车第三季度亏损减少</a></h2>
<a class="image" target="_blank" href="/story/001085727/ce?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/9/000089679_piclink.jpg"></figure>
</a>
<div class="item-lead">这家中国电动汽车制造商的成本削减努力使第三季度净亏损减少23%。但特斯拉上海超级工厂取得的进展带来竞争压力。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" MT PT"></div>
<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half item-container-app has-image" data-id="001085711" data-type="story" data-date="1577660860" data-keywords="美国,美国政治,反犹,种族歧视,恐袭,枪击"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/story/001085711/ce?topnav=english" class="item-headline-link locked">美国发生反犹太“国内恐袭” 5人被刺</a></h2>
<a class="image" target="_blank" href="/story/001085711/ce?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/7/000074267_piclink.jpg"></figure>
</a>
<div class="item-lead">上周六晚，犯罪嫌疑人闯进纽约市以北蒙西一位拉比家中，用大刀袭击正在庆祝光明节的人们。疑犯后来在曼哈顿被捕。</div>
<div class="item-bottom"></div>
</div></div>
                     <div class="clearfloat"></div>
</div>
</div></div>   
<div class="list-container"><div class="list-inner"><h2 class="list-title">
<a class="list-link" href="/tag/麦可林学英语">麦可林学英语</a>
</h2>
<div class="items">
<div class="no-image">
<div class="item-inner">
<div class="item-lead">更贴近现实世界的有声英文“教科书”</div>
</div>
</div>
</div>
<div class="items">

 

<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half is-audio item-container-app has-image" data-id="14442" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/MLE_S01E45.mp3" data-eaudio="https://s3-us-west-2.amazonaws.com/ftlabs-audio-rss-bucket.prod/.mp3" data-sub-type="radio" data-keywords="麦可林学英语,音频,会员专享"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14442?topnav=english" class="item-headline-link locked">暴力伤医也是中国特色吗？(S01E45)</a></h2>
<a class="image" target="_blank" href="/interactive/14442?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/9/000091809_piclink.jpg"></figure>
</a>
<div class="item-lead">医人医骨难医心。民航总院杨文医生走了，再次撕裂中国医患矛盾的伤口。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" MT PT"></div>
<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half is-audio item-container-app has-image" data-id="14427" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/MLES01E44_New.mp3" data-sub-type="radio" data-keywords="麦可林学英语,interactive_search,音频,会员专享"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14427?topnav=english" class="item-headline-link locked">全民阅读vs县图歧路(S01E44)</a></h2>
<a class="image" target="_blank" href="/interactive/14427?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/7/000091697_piclink.jpg"></figure>
</a>
<div class="item-lead">书为什么一定要烧掉，而不是淹没，填埋，或者环保一点——回收再利用呢？</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" LT MT PT ST"></div>
<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half is-audio item-container-app has-image" data-id="14400" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/MLE_S01E43_Liziqi.mp3" data-sub-type="radio" data-keywords="麦可林学英语,interactive_search,音频,会员专享"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14400?topnav=english" class="item-headline-link locked">李子柒的“外宣”成功之道(S01E43)</a></h2>
<a class="image" target="_blank" href="/interactive/14400?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/2/000091532_piclink.jpg"></figure>
</a>
<div class="item-lead">这位好演员墙内开花墙外红，却在算不算文化输出问题上饱受争议。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class="XLT MT PT"></div>
<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half is-audio item-container-app has-image" data-id="14372" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/MLE_S01E42_Michelin.mp3" data-eaudio="https://s3-us-west-2.amazonaws.com/ftlabs-audio-rss-bucket.prod/http://v.ftimg.net/album/MLE_S01E42_Michelin.mp3.mp3" data-sub-type="radio" data-keywords="麦可林学英语,interactive_search,音频,会员专享"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14372?topnav=english" class="item-headline-link locked">米其林不懂中国味道？(S01E42)</a></h2>
<a class="image" target="_blank" href="/interactive/14372?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/9/000091429_piclink.jpg"></figure>
</a>
<div class="item-lead">11月末发布的北京《米其林指南》为何引发一片争议？那个胖胖的轮胎人到底会不会吃中餐？</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" LT MT PT ST"></div>
<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half is-audio item-container-app has-image" data-id="14341" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/MLE_S01E41_Climate_change.mp3" data-sub-type="radio" data-keywords="麦可林学英语,英语电台,interactive_search,会员专享"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14341?topnav=english" class="item-headline-link locked">直面气候挑战，没有备用地球(S01E41)</a></h2>
<a class="image" target="_blank" href="/interactive/14341?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/5/000091265_piclink.jpg"></figure>
</a>
<div class="item-lead">本周在马德里举行的联合国气候变化大会传出讯息，称目前各国为减排目标所做的努力远远不够。美国退出《巴黎协定》，更令人担心人类会否错过“时间窗口”。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" MT PT"></div>
<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half is-audio item-container-app has-image" data-id="14321" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/MLE_S01E40_Berlin_wall.mp3" data-sub-type="radio" data-keywords="麦可林学英语,interactive_search,音频,英语电台,会员专享"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14321?topnav=english" class="item-headline-link locked">那墙已倒塌30年(S01E40)</a></h2>
<a class="image" target="_blank" href="/interactive/14321?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/5/000091155_piclink.jpg"></figure>
</a>
<div class="item-lead">柏林墙的倒塌被视作冷战终结和德国统一的标志。墙倒30年后，这笔政治遗产还剩下些什么？</div>
<div class="item-bottom"></div>
</div></div>
                     <div class="clearfloat"></div>
</div>
</div></div>   
<div class="list-container"><div class="list-inner"><h2 class="list-title">
<a class="list-link" href="/channel/dailyword.html">每日一词</a>
</h2>
<div class="items">
<div class="no-image">
<div class="item-inner">
<div class="item-lead">小词大智慧，每日打卡麦可林精选FT单词</div>
</div>
</div>
</div>
<div class="items">

 

<div class="item-container XL4 L12 M12 M-half S12 S-double-width P12 P-half is-audio item-container-app has-image" data-id="14414" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/zero sum game.mp3" data-sub-type="radio" data-keywords="每日一词,音频,会员专享"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14414?topnav=english" class="item-headline-link locked">每日一词：ZERO-SUM GAME</a></h2>
<a class="image" target="_blank" href="/interactive/14414?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000085930_piclink.jpg"></figure>
</a>
<div class="item-lead">小词大智慧，每天打卡更有助于记忆，跟麦可林一起坚持学单词。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" LT MT PT ST"></div>
<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half is-audio item-container-app has-image" data-id="14405" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/carbon neutrality.mp3" data-sub-type="radio" data-keywords="每日一词,音频,会员专享"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14405?topnav=english" class="item-headline-link locked">每日一词：CARBON NEUTRALITY</a></h2>
<a class="image" target="_blank" href="/interactive/14405?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000085930_piclink.jpg"></figure>
</a>
<div class="item-lead">小词大智慧，每天打卡更有助于记忆，跟麦可林一起坚持学单词。</div>
<div class="item-bottom"></div>
</div></div>
 
 
<div class=" MT PT"></div>
<div class="item-container XL4 L6 L-half M12 M-half S6 P12 P-half is-audio item-container-app has-image" data-id="14412" data-type="interactive" data-audio="http://creatives.ftacademy.cn/album/micro-targeting.mp3" data-sub-type="radio" data-keywords="每日一词,音频,会员专享"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/interactive/14412?topnav=english" class="item-headline-link locked">每日一词：MICROTARGETING</a></h2>
<a class="image" target="_blank" href="/interactive/14412?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000085930_piclink.jpg"></figure>
</a>
<div class="item-lead">小词大智慧，每天打卡更有助于记忆，跟麦可林一起坚持学单词。</div>
<div class="item-bottom"></div>
</div></div>
            <div class="clearfloat"></div>
</div>
</div></div>   
<div class="list-container video-package"><div class="list-inner"><h2 class="list-title">
<a class="list-link" href="/channel/ev.html">原声视频</a>
</h2>
<div class="items">

<div class="item-inner video-package-inner"><div class="image"><figure id="video-package-play" class="loading-video" data-vid="3363"></figure></div><div class="video-package-title"><a href="/video/3363" target=_blank>澳大利亚的飞机墓地是如何储存波音737 MAX飞机的？</a></div></div>
 

<div class="item-container XL2 L4 M4 S4 P4 on     item-container-app has-image" data-id="3363" data-type="video" data-keywords="波音737MAX、储存飞机"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/video/3363?topnav=english" class="item-headline-link ">澳大利亚的飞机墓地是如何储存波音737 MAX飞机的？</a></h2>
<a class="image" target="_blank" href="/video/3363?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/7/000091817_piclink.jpg"></figure>
</a>

<div class="item-bottom"></div>
</div></div>
 
 

<div class="item-container XL2 L4 M4 S4 P4     item-container-app has-image" data-id="3362" data-type="video" data-keywords="资本重置、绿色企业、社会利益"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/video/3362?topnav=english" class="item-headline-link ">为什么资本主义需要在2020年重置？</a></h2>
<a class="image" target="_blank" href="/video/3362?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/9/000091779_piclink.jpg"></figure>
</a>

<div class="item-bottom"></div>
</div></div>
 
 

<div class="item-container XL2 L4 M4 S4 P4     item-container-app has-image" data-id="3302" data-type="video" data-keywords="钢琴"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/video/3302?topnav=english" class="item-headline-link ">在你心中，钢琴还有一席之地吗？</a></h2>
<a class="image" target="_blank" href="/video/3302?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/2/000090162_piclink.jpg"></figure>
</a>

<div class="item-bottom"></div>
</div></div>
 
 
<div class=" LT MT ST"></div>
<div class="item-container XL2 L4 M4 S4 P4    P-hide item-container-app has-image" data-id="3361" data-type="video" data-keywords=""><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/video/3361?topnav=english" class="item-headline-link ">【秒懂】为什么非洲猪瘟也是一场人类危机？</a></h2>
<a class="image" target="_blank" href="/video/3361?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/4/000091744_piclink.jpg"></figure>
</a>

<div class="item-bottom"></div>
</div></div>
 
 

<div class="item-container XL2 L4 M4 S4 P4    P-hide item-container-app has-image" data-id="3360" data-type="video" data-keywords="企业管理,社会责任"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/video/3360?topnav=english" class="item-headline-link ">今年是资本主义变得更“可爱”的一年吗？</a></h2>
<a class="image" target="_blank" href="/video/3360?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/7/000091737_piclink.jpg"></figure>
</a>

<div class="item-bottom"></div>
</div></div>
 
 

<div class="item-container XL2 L4 M4 S4 P4    P-hide item-container-app has-image" data-id="3344" data-type="video" data-keywords="政治参与,节能减排,气候变化"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/video/3344?topnav=english" class="item-headline-link ">【秒懂】“气候变化”系列：普通人能做些什么？</a></h2>
<a class="image" target="_blank" href="/video/3344?topnav=english" >
<figure class="loading" data-url="http://i.ftimg.net/picture/9/000091379_piclink.jpg"></figure>
</a>

<div class="item-bottom"></div>
</div></div>
                     <div class="clearfloat"></div>
</div>
</div></div>        <div class="clearfloat block-bottom"></div>
</div>  </div>  <div class="side-container"><div class="side-inner">
	
              <div class="side-list first-child leadOnly">
<h2 class="list-title">
<a href="#">频道简介</a>
</h2>
  <div class="item-container first item-container-app has-image" data-id="001067383" data-type="story"><div class="item-inner">
<div class="item-lead item-description">FT英语学习版块包括四个部分：双语阅读、金融英语速读、原声视频和FT英语电台。</div>
</div></div>  </div>    <div 
data-o-ads-name="mpu-right1"
class="o-ads"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="false" 
data-o-ads-formats-medium="FtcMpu"
data-o-ads-formats-large="FtcMpu"
data-o-ads-targeting="cnpos=right1;"
data-cy='[{"devices":["PC","PadApp","PadWeb"],"pattern":"MPU","position":"Right1"}]'
>
</div>
  <div class="mps">
<h2 class="list-title"><a href="#">热门文章</a></h2>
<ul class="top10">
							
<li class="mp1"><span>1. </span><a target="_blank" href="/story/001085786">伊朗宣布不再遵守核协议任何承诺</a></li>
<li class="mp2"><span>2. </span><a target="_blank" href="/story/001085774">一周世界舆论聚焦：朝鲜此轮对美外交没有胜利</a></li>
<li class="mp3"><span>3. </span><a target="_blank" href="/story/001085785">投资人：美中紧张将是2020年最大挑战</a></li>
<li class="mp4"><span>4. </span><a target="_blank" href="/story/001085773">从孔子看春秋为什么失败(上)</a></li>
<li class="mp5"><span>5. </span><a target="_blank" href="/story/001085787">FT社评：特朗普使美伊走到战争边缘</a></li>
<li class="mp6"><span>6. </span><a target="_blank" href="/story/001085782">印度移动支付初创企业Paytm的困境</a></li>
<li class="mp7"><span>7. </span><a target="_blank" href="/story/001085775">新加坡加大努力抗击糖尿病</a></li>
<li class="mp8"><span>8. </span><a target="_blank" href="/story/001085779">“即时预测”模型对2020年的预测</a></li>
<li class="mp9"><span>9. </span><a target="_blank" href="/story/001085783">美国拟对卫星图像软件实行出口管制</a></li>
<li class="mp10"><span>10. </span><a target="_blank" href="/story/001085790">美国驻肯尼亚基地遭袭 三名美国人身亡</a></li>
</ul>
</div>
  <div 
data-o-ads-name="mpu-right2"
class="o-ads ftc-mpu"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="false" 
data-o-ads-formats-medium="FtcMpu"
data-o-ads-formats-large="FtcMpu"
data-o-ads-targeting="cnpos=right2;"
data-cy='[{"devices":["PC","PadApp","PadWeb"],"pattern":"MPU","position":"Right2"}]'
>
</div>
    	
</div>  </div>  <div class="clearfloat"></div>
</div> </div> <div class="o-ads" data-o-ads-name="banner2"
data-o-ads-center="true" 
data-o-ads-formats-default="false"
data-o-ads-formats-small="FtcMobileBanner"
data-o-ads-formats-medium="false"
data-o-ads-formats-large="FtcBanner" 
data-o-ads-formats-extra="FtcBanner"
data-o-ads-targeting="cnpos=top2;"
data-cy='[{"devices":["PC"],"pattern":"Banner","position":"Num1"},{"devices":["iPhoneWeb","AndroidWeb","iPhoneApp","AndroidApp"],"pattern":"Banner","position":"Num2"}]'>
</div>
<div 
data-o-ads-name="paidpost2"
class="o-ads paid-post"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="false"
data-o-ads-formats-medium="false"
data-o-ads-formats-large="FtcPaidpost"
data-o-ads-formats-extra="FtcPaidpost"
data-o-ads-targeting="cnpos=paidpost2;"
>
</div>
<div 
data-o-ads-name="paidpost"
class="o-ads paid-post"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="false"
data-o-ads-formats-medium="false"
data-o-ads-formats-large="FtcPaidpost"
data-o-ads-formats-extra="FtcPaidpost"
data-o-ads-targeting="cnpos=paidpost;"
>
</div>
<img src='http://beacon.krxd.net/event.gif?event_id=KWA6DGT9&event_type=rtg' width=0 height=0 />
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-analytics.js"></script>
<script>
// Your web app's Firebase configuration
var firebaseConfig = {
apiKey: "AIzaSyCB4QkzRm1oUl9-XA6kl8ob58FI3C6iDY0",
authDomain: "ftchineseiphone.firebaseapp.com",
databaseURL: "https://ftchineseiphone.firebaseio.com",
projectId: "ftchineseiphone",
storageBucket: "ftchineseiphone.appspot.com",
messagingSenderId: "342601113715",
appId: "1:342601113715:web:6d7016e26b94e3854fca06",
measurementId: "G-PT4E4NGVJV"
};
// Initialize Firebase
firebase.initializeApp(firebaseConfig);
firebase.analytics();
</script><div style="display: none;" class="specialanchor" tag="高端物业" title="高端物业" adid="" channel="" hideAd="no" zone="business/property" storyKeyWords="" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="" title="奔驰维权" adid="" channel="" hideAd="no" zone="" storyKeyWords="奔驰维权,消费者权益,西安车主" cntopic="benzprotest"></div>
<div style="display: none;" class="specialanchor" tag="" title="恐怖袭击" adid="5048" channel="" hideAd="no" zone="disaster" storyKeyWords="恐怖袭击" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="灾难" title="灾难" adid="5048" channel="" hideAd="no" zone="disaster" storyKeyWords="" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="空难" title="空难" adid="5048" channel="" hideAd="no" zone="disaster" storyKeyWords="" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="自然灾害" title="自然灾害" adid="5048" channel="" hideAd="no" zone="disaster" storyKeyWords="" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="车祸" title="车祸" adid="5048" channel="" hideAd="no" zone="disaster" storyKeyWords="" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="地震" title="地震" adid="5048" channel="" hideAd="no" zone="disaster" storyKeyWords="" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="逃犯条例" title="逃犯条例" adid="5048" channel="" hideAd="no" zone="disaster" storyKeyWords="" cntopic=""></div>
<script type="text/javascript">
window.linksForShare = {
'url': window.location.href,
'title': '每日英语 - FT中文网',
'lead': '英国《金融时报》每日原版文章，中英文对照',
'image': ''
};
</script>
