<!DOCTYPE html>
<html class="no-js core" data-next-app="tag-page">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Language" content="zh-CN"/>
<title>{story-headline} - FT中文网</title>
<META name=keywords content="{story-tag}">
<meta content="" name="description"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script>
window.cutsTheMustard = (typeof Function.prototype.bind !== 'undefined');
if (window.cutsTheMustard) {
document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, 'js').replace(/\bcore\b/, 'enhanced');
}
</script>
<style>{{story-css}}</style>
<link rel="icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=32&height=32" sizes="32x32">
<link rel="icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=194&height=194" sizes="194x194">
<link rel="apple-touch-icon" sizes="180x180" href="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=180&height=180" />
<meta name="msapplication-TileColor" content="#fff1e0" />
<meta name="msapplication-TileImage" content="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=144&height=144" />
<script>var startTime = new Date().getTime();</script>
<script>
if ( screen.width<=480) {
document.write('<meta content="FT中文网" name="application-name" /><meta content="app-id=443870811" name="apple-itunes-app" />');
} else {
document.write('<meta content="FT中文网" name="application-name" /><meta content="app-id=396124008" name="apple-itunes-app" />');
}
</script>

<script>
var gKeyTag = '{story-tag}';
var gauthor="{story-author}".replace(/ and /g,",").replace(/([\s\_]+)[Bb]y /g,"$1").replace(/ in .*/g,"").replace(/,.*/g,"").replace(/\s+$/g,"").replace(/^\s+/g,"").replace(/\s+/g,"_");
</script>
<script>var ftcteam="Translation";</script>
<script type="text/javascript">
var gPageId = 'story';
var storyGenre="{story-genre}";
var storyArea="{story-area}";
var storyIndustry="{story-industry}";
var mainTopic="{story-main-topic}";
var subTopic="{story-sub-topic}";
</script>
<script type="text/javascript">var FTadchannelID = '';</script>
<script type="text/javascript">{{story-js-key}}</script>
<!--[if lte IE 8]>
<script>
document.documentElement.className += ' is-ie-8';
document.createElement('figure');
document.createElement('header');
document.createElement('nav');
document.createElement('section');
document.createElement('article');
document.createElement('aside');
document.createElement('footer');
var wIE = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
var cssId = 'ie-css';
var cssFile = '';
if (!document.getElementById(cssId)) {
var head  = document.getElementsByTagName('head')[0];
var link  = document.createElement('link');
link.id   = cssId;
link.rel  = 'stylesheet';
link.type = 'text/css';
cssFile = (wIE>=1200)?'XL':'L';
link.href = 'https://static.ftimg.net/n/main-ie-'+ cssFile +'.css?1498190477334';
link.media = 'all';
head.appendChild(link);
}
</script>
<![endif]-->

<script type="text/javascript">
if(typeof startTime === "undefined"){
var startTime=new Date().getTime();
}
var adchID = '1600';
var adchIDNew = window.location.href.replace(/^.*adchannelID=([0-9]{4}).*$/g,'$1');
if (/^[0-9]{4}$/.test(adchIDNew)) {
adchID = adchIDNew;
}
var FTStoryid = '{story-id}';
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2MCQJHGE8J"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    if (window.gAutoStart === undefined) {
        try {
            trackerNew();
        }catch(err){
            gtag('config', 'G-2MCQJHGE8J');
        }
    }
</script>
<!-- End Google Analytics -->
<!-- link click -->
<script>
function linkClickGa(e){
gtag('event', $(e).attr("href"), {'event_label': "An", 'event_category': 'AdClick'});
}
</script>
<!-- End link click -->

<script>
var gIsCurrentAdchFinal = false;
</script>
<!--isCurrentAdchFinal: no--></head>
<body>

<div class="ebook-container">
<h1 class="story-headline" id="story-headline-ios">{story-headline}</h1>
{story-image}
<div class="book-title-container">
    <div class="book-tag">{story-theme}</div>
    <div class="book-title">{story-headline}</div>
</div>

<div class="story-body"><div id="ios-story-body">{story-body}</div>
</div>
</body>




<script type="text/javascript">
var follows = {
    'tag': ['{follow-tags}'],
    'topic': ['{follow-topics}'],
    'industry': ['{follow-industries}'],
    'area': ['{follow-areas}'],
    'author': ['{follow-authors}'],
    'column': ['{follow-columns}']
}


</script>

<script type="text/javascript">{{story-js-main}}</script>
<script>{{ftc-log-js}}</script>

<script>
function updateHeadline(headline) {
    var headlineEle = document.querySelector('.story-headline');
    headlineEle.innerHTML = headline.replace("{singlequote}", "'");
}
function updateBody(body) {
    var bodyEle = document.getElementById('ios-story-body');
    var bodyHTML = body.replace("{singlequote}", "'");
    bodyEle.innerHTML = bodyHTML;
    window.scrollTo(0, 0);
}
</script>
</html>