<!DOCTYPE html>
<html class="no-js core" data-next-app="tag-page">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Language" content="zh-CN"/>
<title>帮助与反馈 - FT中文网</title>
<META name=keywords content="{story-tag}">
<meta content="" name="description"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script>
window.cutsTheMustard = (typeof Function.prototype.bind !== 'undefined');
if (window.cutsTheMustard) {
document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, 'js').replace(/\bcore\b/, 'enhanced');
}
</script>
<style>{{story-css}}</style>
<link rel="icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=32&height=32" sizes="32x32">
<link rel="icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=194&height=194" sizes="194x194">
<link rel="apple-touch-icon" sizes="180x180" href="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=180&height=180" />
<meta name="msapplication-TileColor" content="#fff1e0" />
<meta name="msapplication-TileImage" content="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=144&height=144" />
<script>var startTime = new Date().getTime();</script>
<script>
if ( screen.width<=480) {
document.write('<meta content="FT中文网" name="application-name" /><meta content="app-id=443870811" name="apple-itunes-app" />');
} else {
document.write('<meta content="FT中文网" name="application-name" /><meta content="app-id=396124008" name="apple-itunes-app" />');
}
</script>

<script>
var gKeyTag = '{story-tag}';
var gauthor="{story-author}".replace(/ and /g,",").replace(/([\s\_]+)[Bb]y /g,"$1").replace(/ in .*/g,"").replace(/,.*/g,"").replace(/\s+$/g,"").replace(/^\s+/g,"").replace(/\s+/g,"_");
</script>
<script>var ftcteam="Translation";</script>
<script type="text/javascript">
var gPageId = 'story';
var storyGenre="{story-genre}";
var storyArea="{story-area}";
var storyIndustry="{story-industry}";
var mainTopic="{story-main-topic}";
var subTopic="{story-sub-topic}";
</script>
<script type="text/javascript">var FTadchannelID = '';</script>
<script type="text/javascript">{{story-js-key}}</script>


<script type="text/javascript">
if(typeof startTime === "undefined"){
var startTime=new Date().getTime();
}
var adchID = '{adchID}';
var adchIDNew = window.location.href.replace(/^.*adchannelID=([0-9]{4}).*$/g,'$1');
if (/^[0-9]{4}$/.test(adchIDNew)) {
adchID = adchIDNew;
}
var FTStoryid = '{comments-id}';
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1608715-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    if (window.gAutoStart === undefined) {
        try {
            trackerNew();
        }catch(err){
            gtag('config', 'UA-1608715-1');
        }
    }
</script>
<!-- End Google Analytics -->
<!-- link click -->
<script>
function linkClickGa(e){
gtag('event', $(e).attr("href"), {'event_label': "An", 'event_category': 'AdClick'});
}
</script>
<!-- End link click -->

<!-- Log Analytics -->
<script>
if (window.gAutoStart === undefined) {
(function(d, s, u, j, x) {
j = d.createElement(s),
x = d.getElementsByTagName(s)[0];
j.async = true;
j.src = u;
x.parentNode.insertBefore(j, x)
})(document, 'script', 'https://dhx9m59k8ysce.cloudfront.net/js/log.js?v=9&20180412');
}
</script>
<!-- End Log Analytics -->
<script>
var gIsCurrentAdchFinal = false;
</script>
<!--isCurrentAdchFinal: no--></head>
<body class="">

<script type="text/javascript">
    document.write(writeAdNew({
        devices: ['PC'],
        pattern:'Leaderboard',
        position:'Num1'
   }));
</script>
<script type="text/javascript">
    document.write(writeAdNew({
        devices: ['iPhoneWeb','AndroidWeb','iPhoneApp','AndroidApp'],
        pattern:'Banner',
        position:'Num1'
   }));
</script>

<div class="block-container has-side story-page">
    <div class="block-inner">
        <div class="content-container">
            <div class="content-inner">
                <div class="story-container"{story-container-style}>
                    <h1 class="story-headline" id="story-headline-ios">帮助与反馈</h1>
                    <div class="story-lead">感谢您对FT中文网的支持，您的反馈和建议会帮我们做得更好。</div>

                    <div class="story-byline">
                    </div>

                    <div class="story-body">
                        <div id="ios-story-body">
						    <p><b>亲爱的读者，</b></p>

						    <p>感谢您对FT中文网的支持，您的反馈和建议会帮我们做得更好。</p>

						    <p><b>无法访问服务器？</b><br>近期我们收到很多中国大陆读者的反映手机应用无法访问服务器的问题，这是因为受到不可控因素的影响。我们的服务器和所有程序都是正常的。目前，受到影响的读者可以使用FT中文网的手机站(m.ftchinese.com)和PC端的网站(www.ftchinese.com)阅读最新的文章。让我们共同期望中国的互联网环境会改善！
						    </p>

						    <p><b>烦人的推送</b><br> 近期我们收到很多读者的反映安卓应用通知推送的问题，主要是推送过于频繁，而且总是推送昨天的内容。我们深深体会到这个功能的不便，并责成相关人员尽快进行修改，一是降低推送的频率，二是只推送新的内容。另外，最新版的安卓应用可以关闭推送功能，只需要点击程序右下角的设置按钮进行设置即可。我们将来会在iPhone应用上开启通知推送的功能，只推送用户在“我的FT”中订阅的内容。
						    </p>

						    <p><b>这个应用在我的手机上为什么不流畅？</b><br>
						    不同设备运行HTML 5的性能相差非常大。针对iPhone，我们进行了比较完善的测试，在iPhone 4S及以上的设备运行流畅；在安卓手机上，我们牺牲了一些体验，以保证程序能在多数机型上正常运行；如果您是使用安卓2的旧机型，流畅度会差很多，功能按钮也无法固定在屏幕底部；在黑莓10上，这个应用可以比较流畅地运行；我们还没有针对Windows手机进行测试和优化，如果你手头正好有微软(诺基亚)的新款手机，可以给我们提提意见。
						    </p>

						    <p><b>如何订阅和查找我想看的文章？</b><br>
						    您可以点击页面底部的 <button onclick="myFT()">我的FT</button> 来订阅你感兴趣的内容或专栏；如果你是想查看具体的某一篇文章，可以点击页面底部的查找按钮 <button onclick="openSearch()" class="ft-icon ft-icon-search"></button> ；如果你是对某一类文章感兴趣，可以通过页面顶部或底部的导航栏 <button class="ft-icon ft-icon-sections" onclick="switchNavOverlay()"></button> 进入频道页；如果你对某一个专栏作家感兴趣，可以通过导航栏找到 <button url="/index.php/ft/channel/phonetemplate.html?channel=column" class="channel"><span class="ft-icon ft-icon-blogs"></span>专栏</button> ，去该作家的专栏。</p>

						    <p><b>哪些内容可以离线阅读？</b><br>
						    程序在线时，会把最新出版日的所有文章保存在手机的本地存储中。这样，你可以在有wifi或3G连接的地方刷新内容，然后在离线的时候重新打开程序阅读。</p>

						    <p><b>我可以同时阅读中英文吗？</b><br>
						    我们提供了三种阅读模式供您选择：中文、英文和中英对照。程序会记住你对阅读模式的偏好。</p>



                        </div>
                        <div class="clearfloat"></div>
                    </div>
                    <div class="clearfloat block-bottom"></div>
                </div>



                <script type="text/javascript">
                    document.write (writeAdNew({
                        devices: ['iPhoneWeb','AndroidWeb', 'iPhoneApp','AndroidApp'],
                        pattern:'Banner',
                        position:'Num2'
                    }));
                </script>

                <h2 class="list-title"><a class="list-link" href="#">读者评论</a></h2>
                <div id="allcomments" class="allcomments container"></div>
                <div id="logincomment" class="logincomment">
                    <form id="storyForm">
                    <div class="comment-input-container">
                    <div class=container>
                    <div style="margin:5px 0;">FT中文网欢迎读者发表评论，部分评论会被选进《读者有话说》栏目。我们保留编辑与出版的权利。</div>
                    <textarea name="Talk" id="Talk" class="commentTextArea" width="100%" rows="3"></textarea>
                    <span style="display:none">
                    <input name="use_nickname" type="hidden" id="name" onclick="unuseit(this);"/>
                    <label for="name" style="display:none">匿名</label>
                    <input name="use_nickname" type="radio" id="userid" value="0" onclick="useit(this);" checked/>
                    <input type="text"  autocorrect="off" class="user_id textinput nick_name" name="NickName" id="nick_name" value=""/>
                    </span>
                    <input type="button" value="提交评论" class="comment_btn submitbutton button ui-light-btn" id="addnewcomment"/>
                    <input type="button" value="登出" class="comment_btn button ui-light-btn" onclick="javascript: logout();"/>
                    <input type="hidden" name="storyid"  id=cstoryid value=""/>
                    </div>
                    </div>
                    </form>
                </div>
                <div id="nologincomment" class="nologincomment">
                    <div class="container">
                        <div class="username-label">用户名</div>
                        <input type="text"  autocorrect="off" name="username" id="username1" class="user_id textinput user-name"/>
                        <div class="password-label">密码</div>
                        <input type="password" name="password"  class="user_id textinput password" id="password1"/>
                        <input type="submit" value="登录后发表评论" class="comment_btn submitbutton button ui-light-btn" onclick="login(1)"/> 
                        <div class="topmargin statusmsg"></div>
                        <a class="social-login-wechat" href="ftcregister://www.ftchinese.com/"><div class="centerButton"><button class="ui-light-btn stress">免费注册</button></div></a>
                        <a class="social-login-wechat" href="weixinlogin://www.ftchinese.com/"><div class="centerButton"><button class="ui-light-btn wechat-login">微信登录</button></div></a>
                    </div>
                </div>
                <script type="text/javascript">
                    loadcomment('{comments-id}', 'allcomments', '{comments-order}');
                    checkLogin();
                    clickToSubmitComment();
                </script>
            </div>
        </div>
        <div class="side-container">
            <div class="side-inner">

                <script type="text/javascript">
                    document.write (writeAdNew({
                        devices: ['PC','PadWeb', 'PadApp'],
                        pattern:'MPU',
                        position:'Right1'
                    }));
                </script>
            </div>
        </div>
        <div class="clearfloat"></div>
    </div>
</div>


<div class="block-container no-side" id="story-recommend-container"><div class="block-inner">
<div class="content-container"><div class="content-inner">
<div class="list-container"><div class="list-inner">
<h2 class="list-title"><a class="list-link" href="#">您可能感兴趣的文章</a></h2>
<div class="items" id="story-recommend"></div>
</div></div>
</div></div>
<div class="clearfloat block-bottom"></div>
</div></div>



<script type="text/javascript">
    document.write (writeAdNew({
        devices: ['PC'],
        pattern:'Banner',
        position:'Num1'
    }));
</script>




<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KP4V3G');</script>

<div class="overlay-container" id="font-setting">
<div class="overlay-inner">
<div class="overlay-bg" data-parentid="font-setting"></div>
<div class="overlay-content-outer">
<div class="overlay-content-inner">
<div class="overlay-content">
<div class="overlay-title">设置字号<i class="overlay-close" data-parentid="font-setting">×</i></div>
<span class="font-options" id="font-options">
<div class="smallest first-child" data-font="0.8">最小</div>
<div class="smaller" data-font="0.9">较小</div>
<div class="normal" data-font="1">默认</div>
<div class="bigger" data-font="1.2">较大</div>
<div class="biggest" data-font="1.6">最大</div>
</span>
</div>
</div>
</div>
</div>
</div><div class="overlay-container" id="share-legacy">
<div class="overlay-inner">
<div class="overlay-bg" data-parentid="share-legacy"></div>
<div class="overlay-content-outer">
<div class="overlay-content-inner">
<div class="overlay-content">
<div class="overlay-title">分享<i class="overlay-close" data-parentid="share-legacy">×</i></div>
<span id="sharelinks"></span>
</div>
</div>
</div>
</div>
</div></body>

<script type="text/javascript">
var follows = {
    'tag': ['{follow-tags}'],
    'topic': ['{follow-topics}'],
    'industry': ['{follow-industries}'],
    'area': ['{follow-areas}'],
    'author': ['{follow-authors}'],
    'column': ['{follow-columns}']
}


</script>

<script type="text/javascript">{{story-js-main}}</script>


<script>

function updateHeadline(headline) {
    var headlineEle = document.querySelector('.story-headline');
    headlineEle.innerHTML = headline.replace("{singlequote}", "'");
}

function updateBody(body) {
    var bodyEle = document.getElementById('ios-story-body');
    var bodyHTML = body.replace("{singlequote}", "'");
    bodyEle.innerHTML = bodyHTML;
    window.scrollTo(0, 0);
}
// MARK: Make sure font size is checked every time
// setTimeout(function(){
//     checkFontSize('{font-class}');
//     changeFontSize();
// }, 100);

</script>

</html>