<!DOCTYPE html>
<html class="no-js core" data-next-app="front-page">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Language" content="zh-CN"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<style>
{{iap-css}}
</style>

</head>

<div class="channel-iap" id="channelScroller" style="overflow-y: scroll;"><div id="channelContent"><div id="head" onclick="switchNavOverlay()"><div class="header"><div class="channeltitle">{iap-title}</div></div></div><div class="layout-a_region-3"><div class="inner"><div class="container"></div></div></div><div class="layout-a_region-4"><div class="inner"><div class="adiframe mpu loaded-in-view" type="250" frame="ad300x250"></div></div></div></div></div>

<script>
{{iap-js}}
</script>


 </body>
</html>