<!DOCTYPE html>
<html class="no-js core" data-next-app="front-page">
 <head>
 <meta charset="utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <title>FT中文网</title>
 <meta http-equiv="Content-Language" content="zh-CN"/>
 <meta content="<%$p.meta.description%>" name="description"/>
 <meta name="apple-mobile-web-app-status-bar-style" content="black" />
 <link rel="apple-touch-icon-precomposed" href="http://static.ftchinese.com/img/ipad_icon.png" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="preconnect" href="http://static.ftchinese.com" />
 <link rel="preconnect" href="http://i.ftimg.net" />
 <script>
 window.errorBuffer = window.errorBuffer || [];
 function beaconCssError(e) {
 window.errorBuffer.push({
 error: e ? e : new Error('CSS failed to load.'),
 context: {
 isMobileNetork: document.cookie.replace(/(?:(?:^|.*;\s*)h2_isMobile\s*\=\s*([^;]*).*$)|^.*$/, "$1") === '' ? false : true
 }
 });
 }
 window.gDebugAd = '';
 </script>
 <style>{{list-css}}</style>
<script type="text/javascript">
if(typeof startTime === "undefined"){
var startTime=new Date().getTime();
}
var adchID = '1000';
var dolRand = Math.round(Math.random()*1000000000);//定义slot随机数实现联动互斥功能 
var adchIDNew = window.location.href.replace(/^.*adchannelID=([0-9]{4}).*$/g,'$1');
if (/^[0-9]{4}$/.test(adchIDNew)) {
adchID = adchIDNew;
}
</script>
<script type="text/javascript">{{list-js-key}}</script>
<script>var startTime = new Date().getTime();</script>

<!-- MARK: Important: Need to add Google Analytics load events manually -->
<script>
{{analytics}}
</script>
<script>
ga('create', 'UA-1608715-1', 'auto');
ga('require', 'displayfeatures');
if (window.gAutoStart === undefined) {
try {
trackerNew();
}catch(err){
ga('send', 'pageview');
}
}
</script>
<!-- End Google Analytics -->

<!-- link click -->
<script>
function linkClickGa(e){
ga('send','event','AdClick', $(e).attr("href"), "An");
}
</script>
<!-- End link click -->
<!-- FTC Analytics -->
<script>
fa('create', 'UA-XXXX-Y', { 'alwaysSendReferrer': true });   // Replace with your property ID.
if (window.gAutoStart === undefined) {fa('send', 'pageview');}
</script>
<!-- End FTC Analytics -->
<!-- Log Analytics -->
<script>
if (window.gAutoStart === undefined) {
(function(d, s, u, j, x) {
j = d.createElement(s),
x = d.getElementsByTagName(s)[0];
j.async = true;
j.src = u;
x.parentNode.insertBefore(j, x)
})(document, 'script', 'http://static.ftchinese.com/js/log.js?v=7&20160318');
}
</script>
<!-- End Log Analytics -->

<!-- Baidu Analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?6f808c64c1308274ef22324b340e40af";
var s = document.getElementsByTagName("script")[0]; 
s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- End Baidu Analytics -->
<script>var gPageId = 'home';</script>
</head>

<body id="app-content">
{list-content}
</body>

<script type="text/javascript">{{list-js-main}}</script>
<script type="text/javascript">{iap-js-code}</script>

</html>

