<!DOCTYPE html>
<html class="{night-class}" data-next-app="front-page">
 <head>
 <meta charset="utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <title>FT中文网</title>
 <meta http-equiv="Content-Language" content="zh-CN"/>
 <meta content="<%$p.meta.description%>" name="description"/>
 <meta name="apple-mobile-web-app-status-bar-style" content="black" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <script>
 window.errorBuffer = window.errorBuffer || [];
 function beaconCssError(e) {
 window.errorBuffer.push({
 error: e ? e : new Error('CSS failed to load.'),
 context: {
 isMobileNetork: document.cookie.replace(/(?:(?:^|.*;\s*)h2_isMobile\s*\=\s*([^;]*).*$)|^.*$/, "$1") === '' ? false : true
 }
 });
 }
 window.gDebugAd = '';
 </script>
 <style>{{list-css}}</style>
 <!-- AndroidUserInfo -->
 <!-- AndroidUserAddress -->
<script type="text/javascript">
if(typeof startTime === "undefined"){
var startTime=new Date().getTime();
}
var adchID = '1000';
var dolRand = Math.round(Math.random()*1000000000);//定义slot随机数实现联动互斥功能
var adchIDNew = window.location.href.replace(/^.*adchannelID=([0-9]{4}).*$/g,'$1');
if (/^[0-9]{4}$/.test(adchIDNew)) {
adchID = adchIDNew;
}
</script>
<script type="text/javascript">{{list-js-key}}</script>
<script>var startTime = new Date().getTime();</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2MCQJHGE8J"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    if (window.gAutoStart === undefined) {
        try {
            trackerNew();
        }catch(err){
            gtag('config', 'G-2MCQJHGE8J');
        }
    }
</script>
<!-- End Google Analytics -->

<!-- link click -->
<script>
function linkClickGa(e){
gtag('event', $(e).attr("href"), {'event_label': "An", 'event_category': 'AdClick'});
}
</script>
<!-- End link click -->

<script>
var gPageId = 'home';
window.adCodeLoaded = true;
</script>

<script async src='https://d2785ji6wtdqx8.cloudfront.net/n/o-ads.js?[date_stamp_string]'></script>
<script async src='https://d2785ji6wtdqx8.cloudfront.net/n/ad-polyfill.js?[date_stamp_string]'></script>
<script async src='https://d2785ji6wtdqx8.cloudfront.net/js/gpt.js?[date_stamp_string]'></script>

<script>{{ftc-log-js}}</script>
<script src="/powertranslate/scripts/register.js?3" async></script>
</head>

<body id="app-content">
{list-content}
</body>

<script type="text/javascript">{{list-js-main}}</script>
<script type="text/javascript">{iap-js-code}</script>
<!--android-scripts-->
</html>

