<!DOCTYPE html>
<html class="{night-class}" data-next-app="front-page">
 <head>
 <meta charset="utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <title>FT中文网</title>
 <meta http-equiv="Content-Language" content="zh-CN"/>
 <meta content="<%$p.meta.description%>" name="description"/>
 <meta name="apple-mobile-web-app-status-bar-style" content="black" />
 <link rel="apple-touch-icon-precomposed" href="https://static.ftimg.net/img/ipad_icon.png" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="preconnect" href="http://static.ftchinese.com" />
 <link rel="preconnect" href="http://i.ftimg.net" />
 <script>
 window.errorBuffer = window.errorBuffer || [];
 function beaconCssError(e) {
 window.errorBuffer.push({
 error: e ? e : new Error('CSS failed to load.'),
 context: {
 isMobileNetork: document.cookie.replace(/(?:(?:^|.*;\s*)h2_isMobile\s*\=\s*([^;]*).*$)|^.*$/, "$1") === '' ? false : true
 }
 });
 }
 window.gDebugAd = '';
 </script>
 <style>{{list-css}}</style>
 <!-- AndroidUserInfo -->
 <!-- AndroidUserAddress -->
<script type="text/javascript">
if(typeof startTime === "undefined"){
var startTime=new Date().getTime();
}
var adchID = '1000';
var dolRand = Math.round(Math.random()*1000000000);//定义slot随机数实现联动互斥功能
var adchIDNew = window.location.href.replace(/^.*adchannelID=([0-9]{4}).*$/g,'$1');
if (/^[0-9]{4}$/.test(adchIDNew)) {
adchID = adchIDNew;
}
</script>
<script type="text/javascript">{{list-js-key}}</script>
<script>var startTime = new Date().getTime();</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1608715-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    if (window.gAutoStart === undefined) {
        try {
            trackerNew();
        }catch(err){
            gtag('config', 'UA-1608715-1');
        }
    }
</script>
<!-- End Google Analytics -->

<!-- link click -->
<script>
function linkClickGa(e){
gtag('event', $(e).attr("href"), {'event_label': "An", 'event_category': 'AdClick'});
}
</script>
<!-- End link click -->

<!-- Log Analytics -->
<script>
if (window.gAutoStart === undefined) {
(function(d, s, u, j, x) {
j = d.createElement(s),
x = d.getElementsByTagName(s)[0];
j.async = true;
j.src = u;
x.parentNode.insertBefore(j, x)
})(document, 'script', 'https://d39nylm5k3hqco.cloudfront.net/js/log.js?v=9&20180412');
}
</script>
<!-- End Log Analytics -->


<script>var gPageId = 'home';</script>
<script type="text/javascript">
{{ad-pollyfill-js}}
</script>
<script async src="https://d39nylm5k3hqco.cloudfront.net/js/gpt.js"></script>



</head>

<body id="app-content">
{list-content}
</body>

<script type="text/javascript">{{list-js-main}}</script>
<script type="text/javascript">{iap-js-code}</script>

</html>

