
<script type="text/javascript">
var adchIDNew = window.location.href.replace(/^.*adchannelID=([0-9]{4}).*$/g,'$1');
if (/^[0-9]{4}$/.test(adchIDNew)) {
window.adchID = adchIDNew;
} else {
window.adchID = '1100';
}
window.adChannelId = window.adchID;
document.title = '独家';
</script>
<!-- zone: home/exclusive-->
<!-- topnav:home subnav:exclusive pageId:exclusive-->
<script type="text/javascript">
function parseUserkv(n){var c={},i=n.split(";");if(0!==i.length)return i.forEach(function(n){var i=n.split("|");2===i.length&&(c[i[0]]=i[1])}),c}function getDfpTargetingStr(n){var c="";return n.sex&&(c+="cnsex="+n.sex+";"),n.cs&&(c+="cncs="+n.cs+";"),n.csp&&(c+="cncsp="+n.csp+";"),n.hi&&(c+="cnhi="+n.hi+";"),n.in&&(c+="cnin="+n.in+";"),n.wf&&(c+="cnwf="+n.wf+";"),c}</script>
<script>
// MARK: - the cookie USER_KV is set from server side when user logs in
var userKv = GetCookie('USER_KV');
var dfpTargetingStr = '';
if (userKv) {
var userKvObj = parseUserkv(userKv);
dfpTargetingStr = getDfpTargetingStr(userKvObj);
}
if (gUserType && gUserType !== '') {
dfpTargetingStr = 'cnuser=' + gUserType + ';' + dfpTargetingStr;
}
window.uaString = navigator.userAgent || navigator.vendor || '';
window.isWeChat = (/micromessenger/i.test(window.uaString));
if (window.location.href.indexOf('webview=ftcapp') >= 0) {
dfpTargetingStr = 'cnplatform=app;' + dfpTargetingStr;
} else if (window.isWeChat) {
dfpTargetingStr = 'cnplatform=wechat;' + dfpTargetingStr;
} else {
dfpTargetingStr = 'cnplatform=web;' + dfpTargetingStr;
}
if (window.cntopic && window.cntopic !== '') {
dfpTargetingStr = 'cntopic=' + window.cntopic + ';' + dfpTargetingStr;
}
//console.log ('Getting user type for google ad manager: ' + window.gUserType);
var configJson = JSON.stringify({
gpt: {
"network": 21753042392,
"site": "FtChinese",
"zone": 'home/exclusive'
},
collapseEmpty: 'before',
dfp_targeting: dfpTargetingStr,
formats: {
"FtcLeaderboard" : {
"sizes":[[1200, 120], [1200, 400], [1200, 250], [969, 90], [969, 400], [969, 250]]
},
"FtcBanner": {
"sizes":[[1200, 120], [969, 90]]
},
"FtcMobileBanner": {
"sizes": [[414, 104]]
},
"FtcMobileMpu":{
"sizes":[[300, 250]]
},
"FtcMpu":{
"sizes":[[300, 250], [300, 600], [300,1050]]
},
"FtcInfoFlow":{
"sizes":[[400, 300]]
},
"FtcMobileFullscreen": {
"sizes":[[414, 736]]
},
"FtcPcFullscreen":{
"sizes":[[700, 520]]
},
"FtcPaidpost":{
"sizes":[[280, 350]]
},
"FtcRibbon":{
"sizes":[[300, 60]]
},
"FtcMembertext":{
"sizes":[[300, 47]]
}
}
});
var configScriptJsonStr = '<scr'+'ipt data-o-ads-config="" type="application/json">'+configJson+'</scr'+'ipt>';
document.writeln(configScriptJsonStr);
</script><script>
window.newAd = true;
</script>
<div class="block-container no-side">
<div class="block-inner">
<div class="content-container">
<div class="content-inner">
<div class="list-container">
<div class="list-inner">
<div class="items hide" id="membership-login-prompt">
<div class="no-image">
<div class="item-inner">
<div class="item-lead">您还没有登录。如果您希望使用已经购买的会员服务，<a href="screen://myft/account">请点击此处登录。</a></div>
</div>
</div>
</div>
<div class="items hide" id="membership-yellow-card-prompt">
<div class="no-image">
<div class="item-inner">
<div class="item-lead">
<div class="warn">亲爱的会员，您的账户近期在多台设备上异常登录。您的账户仅限您本人使用，如不是您本人操作，可能您的账号已泄漏。请您尽快进行如下操作：</div>
<div class="warn">1. <a href="https://user.ftchinese.com/setting" target="_blank">修改密码，并妥善保护好新密码</a>。</div>
<div class="warn">2. <a class="email-link" href="mailto: customer.service@ftchinese.com?subject=Appeal: Warning">点击此处寻求帮助</a>。</div>
<div class="warn">如三天内未进行上述操作，为了保护您的利益，我们将暂时锁定您的订阅账户。</div>
</div></div>
</div>
</div>
</div>
<script>window.gYellowCardUserIds = '';</script>
<div class="items hide" id="membership-red-card-prompt">
<div class="no-image">
<div class="item-inner">
<div class="item-lead"><div class="warn">
亲爱的会员，您的账号近期在多台设备上频繁异常登录。您的账户仅限您本人使用。为了保证您的利益，该账户已被暂时锁定。您可以：
<a class="email-link" href="mailto: customer.service@ftchinese.com?subject=Appeal: Red Warning">点击此处与我们联系进行认证</a>。
</div></div>
</div>
</div>
</div>
<script>window.gRedCardUserIds = '';</script>
<script>checkUserWarnings();</script>
</div>
</div>
<div class="clearfloat block-bottom"></div>
</div>
</div>
<div class="clearfloat"></div>
</div>
</div>
<div class="block-container no-side"><div class="block-inner">
<div class="content-container">
<script type="text/javascript">
window.gSubscriptionEventLabel = 'Page/exclusive';
</script>
<div id="paywall-hint-container" style="display: none;">
<div class="paywall-overlay-shadow" id="paywall-overlay-shadow"></div>
<div id="paywall-box" class="subscribe-lock-container"> 
<div class="lock-block">
<div>
<div class="lock-content">成为付费会员，阅读FT独家内容
</div>
<div class="lock-content">如果已经是会员，请<a href="http://user.ftchinese.com/login" class="o-client-id-link">点击这里</a>登录
</div>
</div>
<div class="subscribe-btn" ><a href="http://www.ftchinese.com/index.php/ft/subscription?el=exclusive"  id="subscribe-now" class="o-client-id-link">成为会员&#x25BA;</a></div>
</div>
</div>
</div>
<script type="text/javascript">updateClientIdLinks();</script><div class="content-inner">
  
<div class="list-container"><div class="list-inner"><div class="items">
<div class="no-image">
<div class="item-inner">
<div class="item-lead">英国《金融时报》最精华的独家内容，付费会员可以阅读全文。</div>
</div>
</div>
</div>
<div class="items">
<!--item tag link: /tag/中美贸易战-->

 

<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082778" data-type="premium" data-keywords="中美贸易战,贸易战,零售业,美国零售额,梅西百货,盈利"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082778" class="item-headline-link locked">梅西百货：美国对华关税危及盈利</a></h2>
<a class="image" target="_blank" href="/premium/001082778" >
<figure class="loading" data-url="http://i.ftimg.net/picture/8/000086068_piclink.jpg"></figure>
</a>
<div class="item-lead">这家美国零售商警告，若特朗普政府对另外3000亿美元中国输美商品加征25%关税，公司全年销售额和利润目标都将受到威胁。</div><div class="item-time highlight">3小时前</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="infoflow1"
class="o-ads infoflow"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcInfoFlow" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=info1;"
>
</div>
 <!--item tag link: /tag/德国经济-->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082772" data-type="premium" data-keywords="德国经济,德国增长模式,增长模式,德国模式"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082772" class="item-headline-link locked">德国增长模式转型并非易事</a></h2>
<a class="image" target="_blank" href="/premium/001082772" >
<figure class="loading" data-url="http://i.ftimg.net/picture/6/000086066_piclink.jpg"></figure>
</a>
<div class="item-lead">明肖：我不鼓励读者轻率地预言德国增长模式气数将尽。我们既要理解它过去的成功，也要弄清它现在面临的问题。</div><div class="item-time">6小时前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/美联储-->

 
<div class=" MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082771" data-type="premium" data-keywords="美联储,中美贸易战,贸易战,低通胀,通胀,美国经济"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082771" class="item-headline-link locked">贸易战和低通胀考验美联储</a></h2>
<a class="image" target="_blank" href="/premium/001082771" >
<figure class="loading" data-url="http://i.ftimg.net/picture/2/000086062_piclink.jpg"></figure>
</a>
<div class="item-lead">戴维斯：美联储仍认为贸易战对美国经济的直接影响不严重，通胀走低也是暂时的。但这两个因素的前景均不乐观。</div><div class="item-time">6小时前</div>
<div class="item-bottom"></div>
</div></div>
<div id="iap-highlight"></div>
 <!--item tag link: /tag/全球经济-->

 
<div class=" ST PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082768" data-type="premium" data-keywords="全球经济,高负债,低利率,通胀,通缩,金融风险"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082768" class="item-headline-link locked">本轮债务周期会如何收场？</a></h2>
<a class="image" target="_blank" href="/premium/001082768" >
<figure class="loading" data-url="http://i.ftimg.net/picture/9/000086059_piclink.jpg"></figure>
</a>
<div class="item-lead">沃尔夫：今天这个高负债和低利率的世界，将毁于通胀的烈焰还是通缩的寒冰？两种结果都有可能，也都可以避免。</div><div class="item-time">6小时前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/美欧关系-->

 
<div class=" XLT LT MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082764" data-type="premium" data-keywords="美欧关系,欧盟,北约,军事,国防"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082764" class="item-headline-link locked">美国对欧盟深化内部军事合作发出警告</a></h2>
<a class="image" target="_blank" href="/premium/001082764" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000086020_piclink.jpg"></figure>
</a>
<div class="item-lead">美国称欧盟国家之间深化军事合作是跨大西洋防务一体化的“戏剧性倒退”，欧盟若限制美企参与泛欧军事项目，美国将予以报复。</div><div class="item-time">16小时前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/中美贸易战-->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082761" data-type="premium" data-keywords="中美贸易战,苹果,供应链"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082761" class="item-headline-link locked">Lex专栏：把蛋都放一个篮子里的苹果供应商</a></h2>
<a class="image" target="_blank" href="/premium/001082761" >
<figure class="loading" data-url="http://i.ftimg.net/picture/6/000086016_piclink.jpg"></figure>
</a>
<div class="item-lead">如果中美贸易战全面爆发，位于中国或在中国进行生产的苹果供应商，将尝到把蛋都放在一个篮子里的苦头。</div><div class="item-time">21小时前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/华为-->

 
<div class=" ST MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082760" data-type="premium" data-keywords="华为,中美贸易战,5G"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082760" class="item-headline-link locked">特朗普准备签署行政令封杀华为</a></h2>
<a class="image" target="_blank" href="/premium/001082760" >
<figure class="loading" data-url="http://i.ftimg.net/picture/8/000086018_piclink.jpg"></figure>
</a>
<div class="item-lead">特朗普此前曾拒绝签署这项行政令，部分原因是不想破坏可能与中国达成的贸易协议。</div><div class="item-time">22小时前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/中美贸易战-->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082757" data-type="premium" data-keywords="中美贸易战,美联储,特朗普,美国股市"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082757" class="item-headline-link locked">特朗普呼吁美联储助力贸易战</a></h2>
<a class="image" target="_blank" href="/premium/001082757" >
<figure class="loading" data-url="http://i.ftimg.net/picture/5/000086015_piclink.jpg"></figure>
</a>
<div class="item-lead">美国总统在Twitter上表示，只要美国央行出台与北京方面相当的刺激措施，“那将会结束游戏，我们赢定了！”</div><div class="item-time">1天前</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="mpu-middle1"
class="o-ads"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcMobileMpu" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=middle1;"
data-cy='[{"devices":["iPhoneWeb","AndroidWeb","iPhoneApp"],"pattern":"MPU","position":"Middle1"}]'
>
</div>
 <!--item tag link: /tag/中美贸易战-->

 
<div class=" XLT LT MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082750" data-type="premium" data-keywords="中美贸易战,大豆,美国农业,美国农产品"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082750" class="item-headline-link locked">对华贸易僵局之下，美国大豆卖给谁？</a></h2>
<a class="image" target="_blank" href="/premium/001082750" >
<figure class="loading" data-url="http://i.ftimg.net/picture/5/000085245_piclink.jpg"></figure>
</a>
<div class="item-lead">特朗普宣称将利用关税所得买下过剩农产品，用来援助“饥饿国家”。但问题是美国大豆并非直接供人食用的粮食。</div><div class="item-time">1天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/中美贸易战-->

 
<div class=" ST PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082749" data-type="premium" data-keywords="中美贸易战,A股,A股市场,中国股市,对冲基金"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082749" class="item-headline-link locked">对冲基金关注中美贸易战风险</a></h2>
<a class="image" target="_blank" href="/premium/001082749" >
<figure class="loading" data-url="http://i.ftimg.net/picture/7/000085037_piclink.jpg"></figure>
</a>
<div class="item-lead">押注中国的对冲基金今年取得了梦寐以求的回报率，但一些基金经理开始担心，中美贸易争端会搅黄这场盛宴。</div><div class="item-time">1天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/中美贸易战-->

 
<div class=" MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082748" data-type="premium" data-keywords="中美贸易战,贸易战,特朗普,贸易,修正主义,全球化"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082748" class="item-headline-link locked">美国是贸易修正主义国家</a></h2>
<a class="image" target="_blank" href="/premium/001082748" >
<figure class="loading" data-url="http://i.ftimg.net/picture/3/000086003_piclink.jpg"></figure>
</a>
<div class="item-lead">拉赫曼：中美对世界秩序各怀不满，它们的不满互为镜像，一方希望改变战略秩序、维持经济秩序，另一方恰恰相反。</div><div class="item-time">1天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/中美贸易战-->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082739" data-type="premium" data-keywords="中美贸易战,贸易,WTO"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082739" class="item-headline-link locked">美国鹰派力量得势引发担忧</a></h2>
<a class="image" target="_blank" href="/premium/001082739" >
<figure class="loading" data-url="http://i.ftimg.net/picture/5/000085985_piclink.jpg"></figure>
</a>
<div class="item-lead">美国朝野鹰派日益得势引发美国其他贸易伙伴、尤其是欧盟、日本和韩国的担忧，也让全球多边贸易体系岌岌可危。</div><div class="item-time">1天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/中美贸易战-->

 
<div class=" XLT LT ST MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082738" data-type="premium" data-keywords="中美贸易战,中国经济"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082738" class="item-headline-link locked">美国最新关税会对中国经济产生较显著影响</a></h2>
<a class="image" target="_blank" href="/premium/001082738" >
<figure class="loading" data-url="http://i.ftimg.net/picture/6/000085986_piclink.jpg"></figure>
</a>
<div class="item-lead">多数分析师估计，美最新关税将对中国已在放缓的增长势头产生显著影响，但中国有足够手段管控冲击。</div><div class="item-time">1天前</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="infoflow2"
class="o-ads infoflow"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcInfoFlow" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=info2;"
>
</div>
 <!--item tag link: /tag/中美贸易战-->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082733" data-type="premium" data-keywords="中美贸易战,美国股市,关税,大宗商品,大豆,美国国债,人民币"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082733" class="item-headline-link locked">中国对600亿美元美国商品提高关税</a></h2>
<a class="image" target="_blank" href="/premium/001082733" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000085980_piclink.jpg"></figure>
</a>
<div class="item-lead">特朗普政府对中国输美商品加征新的惩罚性关税后，北京方面发起反击，宣布对600亿美元清单美国商品中的部分，提高加征关税税率。</div><div class="item-time">2天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/FT大视野-->

 
<div class=" MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082731" data-type="premium" data-keywords="FT大视野,中国东北,中国经济,中国社会,齐齐哈尔,中国城市"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082731" class="item-headline-link locked">人口外流下中国东北的“萎缩城市”</a></h2>
<a class="image" target="_blank" href="/premium/001082731" >
<figure class="loading" data-url="http://i.ftimg.net/picture/6/000085976_piclink.jpg"></figure>
</a>
<div class="item-lead">困扰东北地区的种种问题，反映了中国在试图从中等收入国家发展为发达国家的过程中，将要面临的更广泛挑战。</div><div class="item-time">2天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/中美贸易战-->

 
<div class=" ST PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082730" data-type="premium" data-keywords="中美贸易战,贸易战,中美贸易,中美关系"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082730" class="item-headline-link locked">中美贸易博弈升温让投资者捏一把汗</a></h2>
<a class="image" target="_blank" href="/premium/001082730" >
<figure class="loading" data-url="http://i.ftimg.net/picture/4/000085974_piclink.jpg"></figure>
</a>
<div class="item-lead">眼下投资者还是认为美中最终会达成协议。但美中之争还会长期继续下去，即便协议达成，到头来可能也无法落实。</div><div class="item-time">2天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/FT大视野-->

 
<div class=" XLT LT MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082728" data-type="premium" data-keywords="FT大视野,房地产,美国房地产,投资者,汤姆•巴拉克,特朗普"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082728" class="item-headline-link locked">汤姆•巴拉克：白宫“第一朋友”</a></h2>
<a class="image" target="_blank" href="/premium/001082728" >
<figure class="loading" data-url="http://i.ftimg.net/picture/8/000085968_piclink.jpg"></figure>
</a>
<div class="item-lead">投资给现年71岁的巴拉克带来财富和影响力，包括他与特朗普的友谊。但一些投资者认为，他的30年投资记录不佳。</div><div class="item-time">2天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/中美贸易战-->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082717" data-type="premium" data-keywords="中美贸易战,贸易,中美关系"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082717" class="item-headline-link locked">FT社评：升温的美中贸易战</a></h2>
<a class="image" target="_blank" href="/premium/001082717" >
<figure class="loading" data-url="http://i.ftimg.net/picture/5/000085945_piclink.jpg"></figure>
</a>
<div class="item-lead">贸易战全面爆发将让美中两国及全世界损失惨重。这两个国家都不应听任政治人物的自负阻碍务实的休战达成。</div><div class="item-time">2天前</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="mpu-middle2"
class="o-ads" 
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcMobileMpu" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=middle2;"
data-cy='[{"devices":["iPhoneWeb","AndroidWeb","iPhoneApp","AndroidApp"],"pattern":"MPU","position":"Middle2"}]'
>
</div>
 <!--item tag link: /tag/中美贸易战-->

 
<div class=" ST MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082715" data-type="premium" data-keywords="中美贸易战,中美关系"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082715" class="item-headline-link locked">美国对华鹰派乐见特朗普升级贸易战</a></h2>
<a class="image" target="_blank" href="/premium/001082715" >
<figure class="loading" data-url="http://i.ftimg.net/picture/6/000085946_piclink.jpg"></figure>
</a>
<div class="item-lead">特朗普对中国加征关税后，华盛顿鹰派人士对美中谈判的走向感到很高兴，尽管目前的僵局给全球经济敲响了警钟。</div><div class="item-time">2天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/中美贸易战-->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082713" data-type="premium" data-keywords="中美贸易战,特朗普,关税,中美贸易,特习会,G20峰会,库德洛,中美关系"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082713" class="item-headline-link locked">库德洛：下月G20峰会可能举行特习会</a></h2>
<a class="image" target="_blank" href="/premium/001082713" >
<figure class="loading" data-url="http://i.ftimg.net/picture/2/000085942_piclink.jpg"></figure>
</a>
<div class="item-lead">白宫国家经济委员会主任的这番话或许是一个信号，表明相比起特朗普说出的狠话，他领导的行政当局更愿意妥协。</div><div class="item-time">3天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/制裁-->

 
<div class=" XLT LT MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082707" data-type="premium" data-keywords="制裁,制裁伊朗,制裁俄罗斯,石油,石油出口"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082707" class="item-headline-link locked">美国的制裁有用吗？</a></h2>
<a class="image" target="_blank" href="/premium/001082707" >
<figure class="loading" data-url="http://i.ftimg.net/picture/6/000085936_piclink.jpg"></figure>
</a>
<div class="item-lead">巴特勒：美国针对伊朗石油出口的制裁会不会有效？我们不妨看看美国针对俄罗斯实施广泛制裁的实际效果。</div><div class="item-time">3天前</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="infoflow3"
class="o-ads infoflow"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcInfoFlow" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=info3;"
>
</div>
 <!--item tag link: /tag/中美贸易战-->

 
<div class=" ST PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082705" data-type="premium" data-keywords="中美贸易战,中美贸易,美国商界,贸易,贸易战"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082705" class="item-headline-link locked">美国商界对贸易战态度悄然转变</a></h2>
<a class="image" target="_blank" href="/premium/001082705" >
<figure class="loading" data-url="http://i.ftimg.net/picture/3/000082033_piclink.jpg"></figure>
</a>
<div class="item-lead">邰蒂：美国商界精英并未对特朗普发出实质性的批评，表明他们在悄然接受特朗普的对华好斗姿态。</div><div class="item-time">3天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/FT大视野-->

 
<div class=" MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082703" data-type="premium" data-keywords="FT大视野,中美贸易战,关税,中美贸易,美国政治,民主党,共和党,美国总统大选,特朗普"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082703" class="item-headline-link locked">民主党为何不愿提及贸易战？</a></h2>
<a class="image" target="_blank" href="/premium/001082703" >
<figure class="loading" data-url="http://i.ftimg.net/picture/5/000085245_piclink.jpg"></figure>
</a>
<div class="item-lead">尽管打算竞逐美国民主党总统候选人提名的人很多，但大多数角逐者都不愿意谈论美中贸易战的影响，原因何在？</div><div class="item-time">3天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/芯片产业-->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082700" data-type="premium" data-keywords="芯片产业,中美贸易战,芯片"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082700" class="item-headline-link locked">福建晋华有意与美光化敌为友</a></h2>
<a class="image" target="_blank" href="/premium/001082700" >
<figure class="loading" data-url="http://i.ftimg.net/picture/1/000066601_piclink.jpg"></figure>
</a>
<div class="item-lead">有消息称，这家被控窃取美光技术的中国芯片企业寻求与愿意提供技术的外国公司合作，并把美光视为一个潜在买家。</div><div class="item-time">5天前</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="mpu-middle3"
class="o-ads" 
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcMobileMpu" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=middle3;"
data-cy='[{"devices":["iPhoneWeb","AndroidWeb","iPhoneApp","AndroidApp"],"pattern":"MPU","position":"Middle3"}]'
>
</div>
 <!--item tag link: /tag/中美贸易战-->

 
<div class=" XLT LT ST MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082696" data-type="premium" data-keywords="中美贸易战,中美关系,全球经济,特朗普"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082696" class="item-headline-link locked">全球经济为美中贸易战“埋单”</a></h2>
<a class="image" target="_blank" href="/premium/001082696" >
<figure class="loading" data-url="http://i.ftimg.net/picture/7/000085917_piclink.jpg"></figure>
</a>
<div class="item-lead">目前影响到逾50%的美中双边贸易的关税抑制了全球经贸活动，推高了美国消费者所支付的价格，并阻碍了企业投资。</div><div class="item-time">5天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/科技-->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082695" data-type="premium" data-keywords="科技,腾讯,阿里巴巴,小米,平安,香港,HSBC,虚拟银行"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082695" class="item-headline-link locked">中国科技巨擘获得香港虚拟银行牌照</a></h2>
<a class="image" target="_blank" href="/premium/001082695" >
<figure class="loading" data-url="http://i.ftimg.net/picture/6/000085916_piclink.jpg"></figure>
</a>
<div class="item-lead">香港金管局又颁发一批虚拟银行牌照。腾讯、阿里巴巴、小米和平安的关联企业将在香港挑战汇丰、渣打等老牌银行。</div><div class="item-time">6天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/中芯国际-->

 
<div class=" MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082694" data-type="premium" data-keywords="中芯国际,战略,全球化,科技,尖端技术"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082694" class="item-headline-link locked">中芯国际联合CEO在业务战略上发生分歧</a></h2>
<a class="image" target="_blank" href="/premium/001082694" >
<figure class="loading" data-url="http://i.ftimg.net/picture/5/000085915_piclink.jpg"></figure>
</a>
<div class="item-lead">据悉赵海军和梁孟松之间争执的焦点是打造盈利业务还是聚焦于尖端技术。由于政府支持开发尖端技术，赵海军正考虑离开。</div><div class="item-time">6天前</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="infoflow4"
class="o-ads infoflow"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcInfoFlow" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=info4;"
>
</div>
 <!--item tag link: /tag/中国移动-->

 
<div class=" ST PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082692" data-type="premium" data-keywords="中国移动,美国联邦通信,国家安全"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082692" class="item-headline-link locked">中国移动进军美国市场遭拒</a></h2>
<a class="image" target="_blank" href="/premium/001082692" >
<figure class="loading" data-url="http://i.ftimg.net/picture/3/000085913_piclink.jpg"></figure>
</a>
<div class="item-lead">美国联邦通信委员会以担心国家安全为由，拒绝中国移动在美提供电信服务。该委员会的五名成员一致投票否决这项申请。</div><div class="item-time">6天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/阿里巴巴-->

 
<div class=" XLT LT MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082689" data-type="premium" data-keywords="阿里巴巴,全球速卖通,全球化"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082689" class="item-headline-link locked">阿里全球速卖通首次对海外卖家开放</a></h2>
<a class="image" target="_blank" href="/premium/001082689" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000085910_piclink.jpg"></figure>
</a>
<div class="item-lead">其他国家的零售商将能通过速卖通平台向世界各地销售产品。首批将在俄罗斯、土耳其、意大利和西班牙开通该服务。</div><div class="item-time">6天前</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="mpu-middle4"
class="o-ads" 
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcMobileMpu" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=middle4;"
data-cy='[{"devices":["iPhoneWeb","AndroidWeb","iPhoneApp","AndroidApp"],"pattern":"MPU","position":"Middle4"}]'
>
</div>
 <!--item tag link: /tag/美国经济-->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082679" data-type="premium" data-keywords="美国经济,中美贸易战,特朗普"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082679" class="item-headline-link locked">美国经济强劲真能为特朗普增加谈判筹码吗？</a></h2>
<a class="image" target="_blank" href="/premium/001082679" >
<figure class="loading" data-url="http://i.ftimg.net/picture/6/000085876_piclink.jpg"></figure>
</a>
<div class="item-lead">特朗普的态度变得更强硬，似乎是因为受到美国经济和股市表现强劲的鼓舞，但美国经济是否强劲到足以承受进一步的贸易紧张？</div><div class="item-time">6天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/中国央行-->

 
<div class=" ST MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082674" data-type="premium" data-keywords="中国央行,黄金,外汇储备,美元"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082674" class="item-headline-link locked">中国央行继续增持黄金</a></h2>
<a class="image" target="_blank" href="/premium/001082674" >
<figure class="loading" data-url="http://i.ftimg.net/picture/4/000085874_piclink.jpg"></figure>
</a>
<div class="item-lead">中国人民银行表示，其黄金储备上月增至6110万盎司，较3月份增加48万盎司，使其储备中的黄金总价值达到约783亿美元。</div><div class="item-time">2019年5月9日</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/摩根大通-->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082672" data-type="premium" data-keywords="摩根大通,上海国际信托,摩根大通资产管理,拍卖"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082672" class="item-headline-link locked">摩根大通可能控股在华资产管理公司</a></h2>
<a class="image" target="_blank" href="/premium/001082672" >
<figure class="loading" data-url="http://i.ftimg.net/picture/2/000085872_piclink.jpg"></figure>
</a>
<div class="item-lead">上海国际信托公司披露，将拍卖其所持有的上投摩根基金管理公司2%股份。预计买家将是目前持股49%的摩根大通资产管理公司。</div><div class="item-time">2019年5月9日</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/瑞幸咖啡-->

 
<div class=" XLT LT MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082670" data-type="premium" data-keywords="瑞幸咖啡,咖啡,星巴克,上市,IPO"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082670" class="item-headline-link locked">瑞幸咖啡：IPO之前的五大关键问题</a></h2>
<a class="image" target="_blank" href="/premium/001082670" >
<figure class="loading" data-url="http://i.ftimg.net/picture/9/000085829_piclink.jpg"></figure>
</a>
<div class="item-lead">就像瑞幸试图效仿的科技公司一样，在IPO之日揭晓市场对这家咖啡连锁新贵的看法之前，可能很难对瑞幸咖啡进行估值。</div><div class="item-time">2019年5月9日</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/全球经济-->

 
<div class=" ST PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082668" data-type="premium" data-keywords="全球经济,低通胀,通胀,央行"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082668" class="item-headline-link locked">低通胀世界是如何“炼成的”？</a></h2>
<a class="image" target="_blank" href="/premium/001082668" >
<figure class="loading" data-url="http://i.ftimg.net/picture/2/000085862_piclink.jpg"></figure>
</a>
<div class="item-lead">沃尔夫：当今世界以超低实际和名义利率为特点，实际上，早在金融危机之前，实际利率就在下降，世界处于总需求结构性疲弱的“长期停滞”。</div><div class="item-time">2019年5月9日</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/中美贸易战-->

 
<div class=" MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082676" data-type="premium" data-keywords="中美贸易战,贸易,特朗普"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082676" class="item-headline-link locked">特朗普对中国施压会取得什么效果？</a></h2>
<a class="image" target="_blank" href="/premium/001082676" >
<figure class="loading" data-url="http://i.ftimg.net/picture/4/000085884_piclink.jpg"></figure>
</a>
<div class="item-lead">在察觉中国想收回在谈判中做出的一些承诺后，特朗普威胁对中国加征关税，接下来要看刘鹤到华盛顿谈判带着什么态度。</div><div class="item-time">6天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/朝核问题-->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082656" data-type="premium" data-keywords="朝核问题,朝鲜,美朝关系"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082656" class="item-headline-link locked">朝鲜导弹试验不利于重启无核化谈判</a></h2>
<a class="image" target="_blank" href="/premium/001082656" >
<figure class="loading" data-url="http://i.ftimg.net/picture/1/000085831_piclink.jpg"></figure>
</a>
<div class="item-lead">最新的试验可能预示着朝鲜将重新采取更为敌对的态度，在谈判停滞的情况下，金正恩可能认为加大对美国施压才是上策。</div><div class="item-time">2019年5月8日</div>
<div class="item-bottom"></div>
</div></div>
 <!--item tag link: /tag/股市-->
 <!--item tag link: /tag/伦敦金属交易所-->
 <!--item tag link: /tag/人工智能-->
 <!--item tag link: /tag/欧盟-->
 <!--item tag link: /tag/美国-->
 <!--item tag link: /tag/英国-->
 <!--item tag link: /tag/中美贸易战-->
 <!--item tag link: /tag/中美贸易战-->
 <!--item tag link: /tag/中美贸易战-->
 <!--item tag link: /tag/经济学-->
 <!--item tag link: /tag/俄罗斯-->
 <!--item tag link: /tag/华为-->
 <!--item tag link: /tag/腾讯-->
 <!--item tag link: /tag/巴菲特-->
 <!--item tag link: /tag/房地产-->
 <!--item tag link: /tag/FT大视野-->
 <!--item tag link: /tag/科技-->
 <!--item tag link: /tag/一带一路-->
 <!--item tag link: /tag/汽车业-->
 <!--item tag link: /tag/巴基斯坦-->
 <!--item tag link: /tag/华为-->
 <!--item tag link: /tag/FT大视野-->
 <!--item tag link: /tag/大数据-->
 <!--item tag link: /tag/中美贸易战-->
 <!--item tag link: /tag/资产管理-->
 <!--item tag link: /tag/地方债-->
 <!--item tag link: /tag/气候变暖-->
 <!--item tag link: /tag/中欧关系-->
 <!--item tag link: /tag/中美贸易战-->
 <!--item tag link: /tag/经济-->
 <!--item tag link: /tag/越南-->
 <!--item tag link: /tag/书评-->
 <!--item tag link: /tag/美欧关系-->
 <!--item tag link: /tag/中美贸易战-->
 <!--item tag link: /tag/人民币-->
 <!--item tag link: /tag/华为-->
 <!--item tag link: /tag/华为-->
 <!--item tag link: /tag/拼多多-->
 <!--item tag link: /tag/科技-->
 <!--item tag link: /tag/媒体-->
 <!--item tag link: /tag/FT大视野-->
 <!--item tag link: /tag/IPO-->
 <!--item tag link: /tag/星巴克-->
 <!--item tag link: /tag/中国经济-->
 <!--item tag link: /tag/华为-->
 <!--item tag link: /tag/医药-->
 <!--item tag link: /tag/全球政治-->
 <!--item tag link: /tag/特斯拉-->
 <!--item tag link: /tag/抖音-->
 <!--item tag link: /tag/IPO-->
 <!--item tag link: /tag/一带一路-->
 <!--item tag link: /tag/科技-->
 <!--item tag link: /tag/5G-->
 <!--item tag link: /tag/汽车业-->
 <!--item tag link: /tag/贸易战-->
 <!--item tag link: /tag/华为-->
 <!--item tag link: /tag/比特币-->
 <!--item tag link: /tag/欧盟-->
 <!--item tag link: /tag/债券基金-->
 <!--item tag link: /tag/FT大视野-->
 <!--item tag link: /tag/食品安全-->
 <!--item tag link: /tag/与FT共进午餐-->
 <!--item tag link: /tag/电动汽车-->
 <!--item tag link: /tag/中国股市-->
 <!--item tag link: /tag/FT大视野-->
 <!--item tag link: /tag/汽车业-->
 <!--item tag link: /tag/郭台铭-->
 <!--item tag link: /tag/中国军事-->
 <!--item tag link: /tag/云计算-->
 <!--item tag link: /tag/美国经济-->
 <!--item tag link: /tag/IPO-->
 <!--item tag link: /tag/油价-->
 <!--item tag link: /tag/数据安全-->
 <!--item tag link: /tag/美国政治-->
 <!--item tag link: /tag/黑石集团-->
 <!--item tag link: /tag/经济学家-->
 <!--item tag link: /tag/投资-->
 <!--item tag link: /tag/5G-->
 <!--item tag link: /tag/互联网-->
 <!--item tag link: /tag/澳大利亚-->
 <!--item tag link: /tag/华为-->
 <!--item tag link: /tag/中国经济-->
 <!--item tag link: /tag/宠物-->
 <!--item tag link: /tag/人工智能-->
 <!--item tag link: /tag/中国经济-->
 <!--item tag link: /tag/波音-->
 <!--item tag link: /tag/海航-->
 <!--item tag link: /tag/中国教育-->
 <!--item tag link: /tag/中国楼市-->
 <!--item tag link: /tag/华为-->
 <!--item tag link: /tag/中国消费者-->
 <!--item tag link: /tag/FT大视野-->
 <!--item tag link: /tag/中国经济-->
 <!--item tag link: /tag/中美贸易战-->
 <!--item tag link: /tag/外资投行-->
 <!--item tag link: /tag/资产管理-->
 <!--item tag link: /tag/管理-->
 <!--item tag link: /tag/中美贸易-->
 <!--item tag link: /tag/人工智能-->
 <!--item tag link: /tag/中美贸易战-->
 <!--item tag link: /tag/中日经贸-->
 <!--item tag link: /tag/全球经济-->
 <!--item tag link: /channel/mba.html-->
 <!--item tag link: /tag/中美贸易战-->
 <!--item tag link: /tag/欧盟-->
 <!--item tag link: /tag/房地产-->
 <!--item tag link: /tag/腾讯-->
 <!--item tag link: /tag/美欧关系-->
   <div class="clearfloat"></div>
</div>
</div></div>    <div class="clearfloat block-bottom"></div>
</div>  </div>  <div class="clearfloat"></div>
</div> </div> <!--Pagination Included -->
<div class="pagination-container"><div class="pagination-inner"></div></div>
<script type="text/javascript">
function addPaginationHTML(maxIndex) {
var paginationEle = document.querySelector('.pagination-inner');
if (!paginationEle) {return;}
var p = paravalue(window.location.href, 'p');
if (p === '') {
p = 1;
}
var currentIndex = parseInt(p, 10);
if (typeof currentIndex !== 'number' || p <= 0) {return;}
var indexLength = (w && w>490) ? 10 : 5;
var startIndex = Math.max(1, currentIndex - Math.floor(indexLength/2));
var endIndex = startIndex + indexLength -1;
if (endIndex > maxIndex) {
endIndex = maxIndex;
startIndex = Math.max(1, endIndex - indexLength + 1);
}
var currentHTML = '';
var currentUrl = window.location.href.replace(/p=[0-9]+/g, '');
var connector = (currentUrl.indexOf('?') >= 0) ? '&' : '?';
currentUrl = currentUrl + connector;
currentUrl = currentUrl.replace(/\?&/g,'?').replace(/&+/g,'&');
for (var i=startIndex; i<=endIndex; i++) {
if (i === currentIndex) {
currentHTML += '<span class="current">' + i + '</span>';
} else {
currentHTML += '<a href="' + currentUrl + 'p=' + i + '">' + i + '</a>';
}
}
var nextIndex = currentIndex + 1;
if (nextIndex <= maxIndex) {
currentHTML += '<a href="' + currentUrl + 'p=' + nextIndex + '">&rsaquo;&rsaquo;下一页</a>';
}
if (endIndex < maxIndex) {
currentHTML += '<a href="' + currentUrl + 'p=' + maxIndex + '">&rsaquo;|</a>';
}
var prevIndex = currentIndex - 1; 
if (prevIndex >= 1) {
currentHTML = '<a href="' + currentUrl + 'p=' + prevIndex + '">上一页&lsaquo;&lsaquo;</a>' + currentHTML;
}
if (startIndex > 1) {
currentHTML = '<a href="' + currentUrl + 'p=1">|&lsaquo;</a>' + currentHTML;
}
paginationEle.innerHTML = currentHTML;
}
addPaginationHTML(5);
</script><div 
data-o-ads-name="paidpost"
class="o-ads paid-post"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="false"
data-o-ads-formats-medium="false"
data-o-ads-formats-large="FtcPaidpost"
data-o-ads-formats-extra="FtcPaidpost"
data-o-ads-targeting="cnpos=paidpost;"
>
</div>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KP4V3G')</script>
<img src='http://beacon.krxd.net/event.gif?event_id=KWA6DGT9&event_type=rtg' width=0 height=0 /><div style="display: none;" class="specialanchor" tag="慧智女性" title="慧智女性" adid="" channel="http://www.ftchinese.com/interactive/13338" hideAd="no" zone="smartwomen" storyKeyWords="" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="" title="GLE 2019 Q3 金融改革" adid="" channel="" hideAd="no" zone="economy/" storyKeyWords="经济,贸易,股市,股指,股价,熊市,低迷,指数基金,市值,A股,上证指数,深成指,沪深股市,港股,恒生指数,沪港通,深港通,沪伦通,美股,道琼斯,纳斯达克,标普,伦敦证交所,英国股市,富时100,欧洲股市,新兴市场,亚太股市,日本股市,日经指数,GDP,国民生产总值,PMI,采购经理人指数,CPI,居民消费价格指数,经济增长,经济放缓,增长放缓,进口,出口,进出口,顺差,不景气,逆差,宏观经济,货币规模,M2,广义货币,存款准备金率,存贷款基准利率,物价,通货膨胀,通货紧缩" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="" title="奔驰维权" adid="" channel="" hideAd="no" zone="" storyKeyWords="奔驰维权,消费者权益,西安车主" cntopic="benzprotest"></div>
<div style="display: none;" class="specialanchor" tag="" title="恐怖袭击" adid="5048" channel="" hideAd="no" zone="disaster" storyKeyWords="恐怖袭击" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="灾难" title="灾难" adid="5048" channel="" hideAd="no" zone="disaster" storyKeyWords="" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="空难" title="空难" adid="5048" channel="" hideAd="no" zone="disaster" storyKeyWords="" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="自然灾害" title="自然灾害" adid="5048" channel="" hideAd="no" zone="disaster" storyKeyWords="" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="车祸" title="车祸" adid="5048" channel="" hideAd="no" zone="disaster" storyKeyWords="" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="地震" title="地震" adid="5048" channel="" hideAd="no" zone="disaster" storyKeyWords="" cntopic=""></div>
<script type="text/javascript">
window.linksForShare = {
'url': window.location.href,
'title': '独家 - FT中文网',
'lead': '',
'image': ''
};
</script>
