
<script type="text/javascript">
var adchIDNew = window.location.href.replace(/^.*adchannelID=([0-9]{4}).*$/g,'$1');
if (/^[0-9]{4}$/.test(adchIDNew)) {
window.adchID = adchIDNew;
} else {
window.adchID = '1100';
}
window.adChannelId = window.adchID;
document.title = '独家';
</script>
<!-- zone: home/exclusive-->
<!-- topnav:home subnav:exclusive pageId:exclusive-->
<script type="text/javascript">
function parseUserkv(n){var c={},i=n.split(";");if(0!==i.length)return i.forEach(function(n){var i=n.split("|");2===i.length&&(c[i[0]]=i[1])}),c}function getDfpTargetingStr(n){var c="";return n.sex&&(c+="cnsex="+n.sex+";"),n.cs&&(c+="cncs="+n.cs+";"),n.csp&&(c+="cncsp="+n.csp+";"),n.hi&&(c+="cnhi="+n.hi+";"),n.in&&(c+="cnin="+n.in+";"),n.wf&&(c+="cnwf="+n.wf+";"),c}</script>
<script>
// MARK: - the cookie USER_KV is set from server side when user logs in
var userKv = GetCookie('USER_KV');
var dfpTargetingStr = '';
if (userKv) {
var userKvObj = parseUserkv(userKv);
dfpTargetingStr = getDfpTargetingStr(userKvObj);
}
if (gUserType && gUserType !== '') {
dfpTargetingStr = 'cnuser=' + gUserType + ';' + dfpTargetingStr;
}
window.uaString = navigator.userAgent || navigator.vendor || '';
window.isWeChat = (/micromessenger/i.test(window.uaString));
if (window.location.href.indexOf('webview=ftcapp') >= 0) {
dfpTargetingStr = 'cnplatform=app;' + dfpTargetingStr;
} else if (window.isWeChat) {
dfpTargetingStr = 'cnplatform=wechat;' + dfpTargetingStr;
} else {
dfpTargetingStr = 'cnplatform=web;' + dfpTargetingStr;
}
if (window.cntopic && window.cntopic !== '') {
dfpTargetingStr = 'cntopic=' + window.cntopic + ';' + dfpTargetingStr;
}
//console.log ('Getting user type for google ad manager: ' + window.gUserType);
var configJson = JSON.stringify({
gpt: {
"network": 21753042392,
"site": "FtChinese",
"zone": 'home/exclusive'
},
collapseEmpty: 'before',
dfp_targeting: dfpTargetingStr,
formats: {
"FtcLeaderboard" : {
"sizes":[[1200, 120], [1200, 400], [1200, 250], [969, 90], [969, 400], [969, 250]]
},
"FtcBanner": {
"sizes":[[1200, 120], [969, 90]]
},
"FtcMobileBanner": {
"sizes": [[414, 104]]
},
"FtcMobileMpu":{
"sizes":[[300, 250]]
},
"FtcMpu":{
"sizes":[[300, 250], [300, 600], [300,1050]]
},
"FtcInfoFlow":{
"sizes":[[400, 300]]
},
"FtcMobileFullscreen": {
"sizes":[[414, 736]]
},
"FtcPcFullscreen":{
"sizes":[[700, 520]]
},
"FtcPaidpost":{
"sizes":[[280, 350]]
},
"FtcRibbon":{
"sizes":[[300, 60]]
},
"FtcMembertext":{
"sizes":[[300, 47]]
}
}
});
var configScriptJsonStr = '<scr'+'ipt data-o-ads-config="" type="application/json">'+configJson+'</scr'+'ipt>';
document.writeln(configScriptJsonStr);
</script><script>
window.newAd = true;
</script>
<div class="block-container no-side">
<div class="block-inner">
<div class="content-container">
<div class="content-inner">
<div class="list-container">
<div class="list-inner">
<div class="items hide" id="membership-login-prompt">
<div class="no-image">
<div class="item-inner">
<div class="item-lead">您还没有登录。如果您希望使用已经购买的会员服务，<a href="screen://myft/account">请点击此处登录。</a></div>
</div>
</div>
</div>
<div class="items hide" id="membership-yellow-card-prompt">
<div class="no-image">
<div class="item-inner">
<div class="item-lead">
<div class="warn">亲爱的会员，您的账户近期在多台设备上异常登录。您的账户仅限您本人使用，如不是您本人操作，可能您的账号已泄漏。请您尽快进行如下操作：</div>
<div class="warn">1. <a href="https://user.ftchinese.com/setting" target="_blank">修改密码，并妥善保护好新密码</a>。</div>
<div class="warn">2. <a class="email-link" href="mailto: customer.service@ftchinese.com?subject=Appeal: Warning">点击此处寻求帮助</a>。</div>
<div class="warn">如三天内未进行上述操作，为了保护您的利益，我们将暂时锁定您的订阅账户。</div>
</div></div>
</div>
</div>
</div>
<script>window.gYellowCardUserIds = '';</script>
<div class="items hide" id="membership-red-card-prompt">
<div class="no-image">
<div class="item-inner">
<div class="item-lead"><div class="warn">
亲爱的会员，您的账号近期在多台设备上频繁异常登录。您的账户仅限您本人使用。为了保证您的利益，该账户已被暂时锁定。您可以：
<a class="email-link" href="mailto: customer.service@ftchinese.com?subject=Appeal: Red Warning">点击此处与我们联系进行认证</a>。
</div></div>
</div>
</div>
</div>
<script>window.gRedCardUserIds = '';</script>
<script>checkUserWarnings();</script>
</div>
</div>
<div class="clearfloat block-bottom"></div>
</div>
</div>
<div class="clearfloat"></div>
</div>
</div>
<div class="block-container no-side"><div class="block-inner">
<div class="content-container">
<script type="text/javascript">
window.gSubscriptionEventLabel = 'Page/exclusive';
</script>
<div id="paywall-hint-container" style="display: none;">
<div class="paywall-overlay-shadow" id="paywall-overlay-shadow"></div>
<div id="paywall-box" class="subscribe-lock-container"> 
<div class="lock-block">
<div>
<div class="lock-content">成为付费会员，阅读FT独家内容
</div>
<div class="lock-content">如果已经是会员，请<a href="http://user.ftchinese.com/login" class="o-client-id-link">点击这里</a>登录
</div>
</div>
<div class="subscribe-btn" ><a href="http://www.ftchinese.com/index.php/ft/subscription?el=exclusive"  id="subscribe-now" class="o-client-id-link">成为会员&#x25BA;</a></div>
</div>
</div>
</div>
<script type="text/javascript">updateClientIdLinks();</script><div class="content-inner">
  
<div class="list-container"><div class="list-inner"><div class="items">
<div class="no-image">
<div class="item-inner">
<div class="item-lead">英国《金融时报》最精华的独家内容，付费会员可以阅读全文。</div>
</div>
</div>
</div>
<div class="items">
<!--premium: : -->

 

<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001083011" data-type="premium" data-keywords="芯片,华为,中兴,ARM"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001083011" class="item-headline-link locked">中国力争实现芯片“自主可控”</a></h2>
<a class="image" target="_blank" href="/premium/001083011" >
<figure class="loading" data-url="http://i.ftimg.net/picture/4/000086594_piclink.jpg"></figure>
</a>
<div class="item-lead">美国对中兴通讯和华为实施出口禁令，促使中国政府更加重视半导体供应的自给自足。但这将是一条漫长的道路。</div><div class="item-time highlight">2小时前</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="infoflow1"
class="o-ads infoflow"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcInfoFlow" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=info1;"
>
</div>
 <!--premium: : -->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001083008" data-type="premium" data-keywords="中美贸易战,金融业,投资者"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001083008" class="item-headline-link locked">投资者对6月“特习会”焦虑加剧</a></h2>
<a class="image" target="_blank" href="/premium/001083008" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000086590_piclink.jpg"></figure>
</a>
<div class="item-lead">随着快速结束贸易争端的希望破灭，金融市场波动加剧。为应对市场进一步动荡，投资者正通过衍生品市场安排各自头寸。</div><div class="item-time">8小时前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001083006" data-type="premium" data-keywords="中美贸易战,基金,金融业"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001083006" class="item-headline-link locked">贸易战影响波及金融业</a></h2>
<a class="image" target="_blank" href="/premium/001083006" >
<figure class="loading" data-url="http://i.ftimg.net/picture/9/000086589_piclink.jpg"></figure>
</a>
<div class="item-lead">基金服务集团富信称，随着美中贸易战形势恶化，它在过去6个月处理的中国相关私募股权和风投基金的发行数量大幅下滑。</div><div class="item-time">8小时前</div>
<div class="item-bottom"></div>
</div></div>
<div id="iap-highlight"></div>
 <!--premium: : -->

 
<div class=" ST PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001083003" data-type="premium" data-keywords="汽车业,菲亚特,克莱斯勒"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001083003" class="item-headline-link locked">菲亚特克莱斯勒与雷诺合并理由充分</a></h2>
<a class="image" target="_blank" href="/premium/001083003" >
<figure class="loading" data-url="http://i.ftimg.net/picture/6/000086586_piclink.jpg"></figure>
</a>
<div class="item-lead">加普：菲亚特克莱斯勒与雷诺的合并计划有着令人痛苦的历史回声，但说到底，当今汽车业格局意味着合并虽难，但孤立更难。</div><div class="item-time">11小时前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" XLT LT MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001083002" data-type="premium" data-keywords="汇率操纵国,美国财政部,汇率,货币,货币战,货币战争,贸易战,贸易,顺差,逆差"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001083002" class="item-headline-link locked">美国眼中的“操纵汇率国”可能是谁？</a></h2>
<a class="image" target="_blank" href="/premium/001083002" >
<figure class="loading" data-url="http://i.ftimg.net/picture/9/000086579_piclink.jpg"></figure>
</a>
<div class="item-lead">美国财政部迟到近两月的报告未把任何国家认定为汇率操纵国，但下修了认定门槛，并把更多国家置于审查之下。</div><div class="item-time">11小时前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082996" data-type="premium" data-keywords="银行业,坏账,债务,金融监管"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082996" class="item-headline-link locked">包商银行被接管凸显中国金融体系的问题</a></h2>
<a class="image" target="_blank" href="/premium/001082996" >
<figure class="loading" data-url="http://i.ftimg.net/picture/3/000079663_piclink.jpg"></figure>
</a>
<div class="item-lead">包商银行被接管，是18年来首次有银行被政府接管，此事对隐藏在中国金融体系内的风险发出警示信号。</div><div class="item-time">23小时前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" ST MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082991" data-type="premium" data-keywords="中国经济,猪瘟,猪肉,中国农业"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082991" class="item-headline-link locked">非洲猪瘟疫情将推高中国猪肉价格</a></h2>
<a class="image" target="_blank" href="/premium/001082991" >
<figure class="loading" data-url="http://i.ftimg.net/picture/9/000085249_piclink.jpg"></figure>
</a>
<div class="item-lead">中国养殖户一看到非洲猪瘟的迹象，就把整个猪群送到屠宰场，而不是向政府报告、拿到少量补偿。这意味着下半年可能出现猪肉供应短缺。</div><div class="item-time">1天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082989" data-type="premium" data-keywords="华为,中美贸易战,5G"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082989" class="item-headline-link locked">华为：美国禁令将自伤1200家本国供应商</a></h2>
<a class="image" target="_blank" href="/premium/001082989" >
<figure class="loading" data-url="http://i.ftimg.net/picture/1/000086451_piclink.jpg"></figure>
</a>
<div class="item-lead">美国政府将华为列入黑名单将打击该公司的约1200家美国供应商，包括为其提供三分之二网络安全工具的企业以及芯片商。</div><div class="item-time">1天前</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="mpu-middle1"
class="o-ads"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcMobileMpu" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=middle1;"
data-cy='[{"devices":["iPhoneWeb","AndroidWeb","iPhoneApp"],"pattern":"MPU","position":"Middle1"}]'
>
</div>
 <!--premium: : -->

 
<div class=" XLT LT MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082985" data-type="premium" data-keywords="中美贸易战,稀土,大宗商品"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082985" class="item-headline-link locked">Lex专栏：稀土武器有用吗</a></h2>
<a class="image" target="_blank" href="/premium/001082985" >
<figure class="loading" data-url="http://i.ftimg.net/picture/5/000086535_piclink.jpg"></figure>
</a>
<div class="item-lead">短期而言，中国的稀土出口禁令可以让美国企业的日子难过。但在一场漫长冲突中，中国的稀土优势持续不了多久。</div><div class="item-time">1天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" ST PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082984" data-type="premium" data-keywords="锐实力贷款,贷款,地缘政治"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082984" class="item-headline-link locked">说说“锐实力贷款”</a></h2>
<a class="image" target="_blank" href="/premium/001082984" >
<figure class="loading" data-url="http://i.ftimg.net/picture/4/000086534_piclink.jpg"></figure>
</a>
<div class="item-lead">艾什：近年中国、沙特和俄罗斯等国热衷于利用“锐实力”推进其经济和地缘政治利益，为此提供大规模双边救助计划。</div><div class="item-time">1天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082980" data-type="premium" data-keywords="中美贸易战,华为,贸易制裁,特朗普"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082980" class="item-headline-link locked">下死手打压华为，特朗普还能回头吗？</a></h2>
<a class="image" target="_blank" href="/premium/001082980" >
<figure class="loading" data-url="http://i.ftimg.net/picture/9/000086529_piclink.jpg"></figure>
</a>
<div class="item-lead">波利提：美国将华为列入对国家安全构成风险的外国实体特别黑名单，骤然收紧对这家中国公司的出口控制。特朗普为什么这样做？</div><div class="item-time">1天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082979" data-type="premium" data-keywords="债市,中国经济,流动性,国债"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082979" class="item-headline-link locked">流动性危机风险困扰中国债市发展</a></h2>
<a class="image" target="_blank" href="/premium/001082979" >
<figure class="loading" data-url="http://i.ftimg.net/picture/8/000086528_piclink.jpg"></figure>
</a>
<div class="item-lead">分析师表示，超级复杂的监管框架和不稳定的交易量可能会引发中国的债券市场危机——就在中国政府对外开放债券市场之际。</div><div class="item-time">1天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" XLT LT ST MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082974" data-type="premium" data-keywords="华为,中美贸易战"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082974" class="item-headline-link locked">华为要求美法院判禁止采购华为技术的禁令违宪</a></h2>
<a class="image" target="_blank" href="/premium/001082974" >
<figure class="loading" data-url="http://i.ftimg.net/picture/7/000086507_piclink.jpg"></figure>
</a>
<div class="item-lead">华为首席法务官宋柳平称华为“对美国的司法独立和正直抱有信心”，并表示希望通过法院来纠正《国防授权法案》中的错误。</div><div class="item-time">1天前</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="infoflow2"
class="o-ads infoflow"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcInfoFlow" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=info2;"
>
</div>
 <!--premium: : -->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082970" data-type="premium" data-keywords="人民币,中美贸易战,汇率,汇市"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082970" class="item-headline-link locked">美国财政部未将中国列为汇率操纵国</a></h2>
<a class="image" target="_blank" href="/premium/001082970" >
<figure class="loading" data-url="http://i.ftimg.net/picture/7/000086487_piclink.jpg"></figure>
</a>
<div class="item-lead">该部发布的最新报告宣称对中国的汇率做法“严重”关切，但再次未把中国列为汇率操纵国。此举避免了美中贸易冲突进一步升级。</div><div class="item-time">2天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082967" data-type="premium" data-keywords="华为,WTO,中美贸易战,贸易"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082967" class="item-headline-link locked">中国在WTO会议上针对华为禁令抨击美国</a></h2>
<a class="image" target="_blank" href="/premium/001082967" >
<figure class="loading" data-url="http://i.ftimg.net/picture/6/000086486_piclink.jpg"></figure>
</a>
<div class="item-lead">在世界贸易组织的一次会议上，中国抨击了美国对华为的出口禁令，称美方滥用全球贸易规则中的“国家安全例外”条款。</div><div class="item-time">2天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" ST PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082966" data-type="premium" data-keywords="阿里巴巴,港股,马云"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082966" class="item-headline-link locked">Lex专栏：阿里巴巴回归香港上市合乎逻辑</a></h2>
<a class="image" target="_blank" href="/premium/001082966" >
<figure class="loading" data-url="http://i.ftimg.net/picture/2/000086482_piclink.jpg"></figure>
</a>
<div class="item-lead">该公司考虑在香港二次上市是合乎逻辑的。但如果要提升估值，它需要在香港上市比传闻中的200亿美元更多的股票。</div><div class="item-time">2天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" XLT LT MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082965" data-type="premium" data-keywords="债市,国债,美国国债,收益率"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082965" class="item-headline-link locked">美国国债收益率降至2017年以来低点</a></h2>
<a class="image" target="_blank" href="/premium/001082965" >
<figure class="loading" data-url="http://i.ftimg.net/picture/6/000085356_piclink.jpg"></figure>
</a>
<div class="item-lead">基准10年期国债收益率跌至2.26%的20个月低点，美中贸易紧张升级和对全球经济放缓担忧加剧，促使投资者转投安全资产。</div><div class="item-time">2天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082964" data-type="premium" data-keywords="中美贸易战,稀土矿,中国经济,全球贸易"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082964" class="item-headline-link locked">中国暗示要把稀土当作贸易战筹码</a></h2>
<a class="image" target="_blank" href="/premium/001082964" >
<figure class="loading" data-url="http://i.ftimg.net/picture/8/000085088_piclink.jpg"></figure>
</a>
<div class="item-lead">中国国家发改委以问答形式发布公告，强调稀土出口断供的威胁，但没有宣布任何具体政策。</div><div class="item-time">2天前</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="mpu-middle2"
class="o-ads" 
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcMobileMpu" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=middle2;"
data-cy='[{"devices":["iPhoneWeb","AndroidWeb","iPhoneApp","AndroidApp"],"pattern":"MPU","position":"Middle2"}]'
>
</div>
 <!--premium: : -->

 
<div class=" ST MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082963" data-type="premium" data-keywords="全球经济,中美贸易战,贸易"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082963" class="item-headline-link locked">OECD：中美贸易战影响国际贸易</a></h2>
<a class="image" target="_blank" href="/premium/001082963" >
<figure class="loading" data-url="http://i.ftimg.net/picture/1/000086481_piclink.jpg"></figure>
</a>
<div class="item-lead">经合组织数据显示，今年第一季度，不断升级的全球贸易战使国际贸易遇冷，美国从中国的进口出现创纪录下降。</div><div class="item-time">2天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082962" data-type="premium" data-keywords="中美贸易战,尼科赫塔尔,美国经济"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082962" class="item-headline-link locked">尼科赫塔尔：走上前台的贸易战强硬派</a></h2>
<a class="image" target="_blank" href="/premium/001082962" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000086480_piclink.jpg"></figure>
</a>
<div class="item-lead">这位出生于伊朗的贸易律师，正等待被正式任命为美国商务部工业安全局局长。她将实施特朗普扩大对华出口管制的政策。</div><div class="item-time">2天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" XLT LT MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082968" data-type="premium" data-keywords="垃圾,塑料垃圾,循环经济,环境,马来西亚"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082968" class="item-headline-link locked">马来西亚将向美加等国退还3000吨塑料垃圾</a></h2>
<a class="image" target="_blank" href="/premium/001082968" >
<figure class="loading" data-url="http://i.ftimg.net/picture/5/000086485_piclink.jpg"></figure>
</a>
<div class="item-lead">马环境部长杨美盈称，垃圾贸易的前提是可回收利用，不能允许无法循环利用或劣质的塑料倾倒到马来西亚。</div><div class="item-time">2天前</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="infoflow3"
class="o-ads infoflow"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcInfoFlow" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=info3;"
>
</div>
 <!--premium: : -->

 
<div class=" ST PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082955" data-type="premium" data-keywords="坏账,不良贷款,银行,金融"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082955" class="item-headline-link locked">中国多家银行因掩盖坏账被罚</a></h2>
<a class="image" target="_blank" href="/premium/001082955" >
<figure class="loading" data-url="http://i.ftimg.net/picture/7/000086457_piclink.jpg"></figure>
</a>
<div class="item-lead">过去一个月，至少有5家中国大型金融机构收到罚单，中国当局担心掩盖不良贷款的行为可能会破坏金融稳定。</div><div class="item-time">3天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082954" data-type="premium" data-keywords="美日关系,特朗普,贸易,安倍晋三"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082954" class="item-headline-link locked">安倍晋三加倍讨好特朗普</a></h2>
<a class="image" target="_blank" href="/premium/001082954" >
<figure class="loading" data-url="http://i.ftimg.net/picture/6/000086456_piclink.jpg"></figure>
</a>
<div class="item-lead">在东京接待特朗普的三天里，日本首相安倍晋三让各国领导人看到，要论奉承美国总统，无人能出其右。</div><div class="item-time">3天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082951" data-type="premium" data-keywords="区块链,加密货币"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082951" class="item-headline-link locked">“加密货币的冬天已经结束”</a></h2>
<a class="image" target="_blank" href="/premium/001082951" >
<figure class="loading" data-url="http://i.ftimg.net/picture/4/000086454_piclink.jpg"></figure>
</a>
<div class="item-lead">比特币价格周一涨至一年来最高水平，今年迄今上涨140%。分析师称，来自机构买家和风投基金的需求推动了今年的价格反弹。</div><div class="item-time">3天前</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="mpu-middle3"
class="o-ads" 
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcMobileMpu" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=middle3;"
data-cy='[{"devices":["iPhoneWeb","AndroidWeb","iPhoneApp","AndroidApp"],"pattern":"MPU","position":"Middle3"}]'
>
</div>
 <!--premium: : -->

 
<div class=" XLT LT ST MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082950" data-type="premium" data-keywords="电动车,中国经济,汽车业"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082950" class="item-headline-link locked">中国电动汽车将在欧洲亮相</a></h2>
<a class="image" target="_blank" href="/premium/001082950" >
<figure class="loading" data-url="http://i.ftimg.net/picture/4/000085484_piclink.jpg"></figure>
</a>
<div class="item-lead">总部位于上海的爱驰计划从明年4月起在欧盟、瑞士和挪威出租其电动SUV。这将是在欧洲大陆推出的首款中国品牌电动汽车。</div><div class="item-time">3天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082949" data-type="premium" data-keywords="中国经济,补贴,上市公司,A股"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082949" class="item-headline-link locked">中国去年向上市公司提供创纪录补贴</a></h2>
<a class="image" target="_blank" href="/premium/001082949" >
<figure class="loading" data-url="http://i.ftimg.net/picture/8/000085768_piclink.jpg"></figure>
</a>
<div class="item-lead">数据显示，中央和地方政府2018年向上市公司支付的款项同比增长14%，至1538亿元人民币，这是为了帮助企业应对经济放缓。</div><div class="item-time">3天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082940" data-type="premium" data-keywords="FT大视野,特朗普,科技,华为"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082940" class="item-headline-link locked">特朗普或引发一场科技冷战</a></h2>
<a class="image" target="_blank" href="/premium/001082940" >
<figure class="loading" data-url="http://i.ftimg.net/picture/1/000086451_piclink.jpg"></figure>
</a>
<div class="item-lead">限制华为获得美国技术可能束缚住这家中国最重要科技公司的手脚，此举可能已让整个世界陷入了一场科技冷战。</div><div class="item-time">3天前</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="infoflow4"
class="o-ads infoflow"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcInfoFlow" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=info4;"
>
</div>
 <!--premium: : -->

 
<div class=" ST PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082935" data-type="premium" data-keywords="字节跳动,手机,智能手机"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082935" class="item-headline-link locked">知情人士称字节跳动将开发智能手机</a></h2>
<a class="image" target="_blank" href="/premium/001082935" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000086390_piclink.jpg"></figure>
</a>
<div class="item-lead">知情人士称，这款手机将预装字节跳动自有应用，包括新闻推送、短视频平台和游戏，目的是进一步拓展其覆盖面。</div><div class="item-time">3天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" XLT LT MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082927" data-type="premium" data-keywords="三星,华为,5G,中美贸易战"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082927" class="item-headline-link locked">美国封杀华为将使三星得利</a></h2>
<a class="image" target="_blank" href="/premium/001082927" >
<figure class="loading" data-url="http://i.ftimg.net/picture/1/000086381_piclink.jpg"></figure>
</a>
<div class="item-lead">三星在全球网络设备市场的占有率远远落后于同行，美国将华为列入出口黑名单，将为三星开拓5G业务送上一个大好机会。</div><div class="item-time">4天前</div>
<div class="item-bottom"></div>
</div></div>
<div 
data-o-ads-name="mpu-middle4"
class="o-ads" 
data-o-ads-formats-default="false" 
data-o-ads-formats-small="FtcMobileMpu" 
data-o-ads-formats-medium="false"
data-o-ads-formats-large="false"
data-o-ads-formats-extra="false"
data-o-ads-targeting="cnpos=middle4;"
data-cy='[{"devices":["iPhoneWeb","AndroidWeb","iPhoneApp","AndroidApp"],"pattern":"MPU","position":"Middle4"}]'
>
</div>
 <!--premium: : -->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082926" data-type="premium" data-keywords="汽车业,菲亚特,克莱斯勒"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082926" class="item-headline-link locked">菲亚特克莱斯勒与雷诺展开合并谈判</a></h2>
<a class="image" target="_blank" href="/premium/001082926" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000086380_piclink.jpg"></figure>
</a>
<div class="item-lead">这家意大利-美国汽车制造商为双方合作设定的条件是，如果双方同意携手，雷诺将推迟短期内与日产合并的任何计划。</div><div class="item-time">4天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" ST MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082925" data-type="premium" data-keywords="华为,中美贸易战,芯片,制裁"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082925" class="item-headline-link locked">Lex专栏：芯片制裁给华为带来难题</a></h2>
<a class="image" target="_blank" href="/premium/001082925" >
<figure class="loading" data-url="http://i.ftimg.net/picture/1/000086181_piclink.jpg"></figure>
</a>
<div class="item-lead">英国芯片设计公司ARM停止向华为授权微处理器设计的决定，暴露了中国对外国芯片的依赖，以及实现芯片自给自足的难度。</div><div class="item-time">4天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082915" data-type="premium" data-keywords="餐饮业,创新,科技"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082915" class="item-headline-link locked">科技颠覆的下一个对象：餐饮业？</a></h2>
<a class="image" target="_blank" href="/premium/001082915" >
<figure class="loading" data-url="http://i.ftimg.net/picture/0/000086370_piclink.jpg"></figure>
</a>
<div class="item-lead">许多风险投资公司认为，无论餐饮行业多么麻烦、物流多么复杂，这个行业也即将像百货公司和出租车运营商那样被彻底颠覆。</div><div class="item-time">4天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" XLT LT MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082914" data-type="premium" data-keywords="FT大视野,锂电池,能源,新能源,电动车"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082914" class="item-headline-link locked">中国主导全球锂电池供应链</a></h2>
<a class="image" target="_blank" href="/premium/001082914" >
<figure class="loading" data-url="http://i.ftimg.net/picture/1/000086371_piclink.jpg"></figure>
</a>
<div class="item-lead">锂是电动汽车电池的关键原材料，而中国在短短几年里成为世界最大锂生产国。美欧担心自己被排挤出这个下一代产业。</div><div class="item-time">4天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" ST PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082913" data-type="premium" data-keywords="管理,CEO,业绩,财务"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082913" class="item-headline-link locked">为什么越来越多的CEO过不了“道德关”？</a></h2>
<a class="image" target="_blank" href="/premium/001082913" >
<figure class="loading" data-url="http://i.ftimg.net/picture/5/000086375_piclink.jpg"></figure>
</a>
<div class="item-lead">邰蒂：十年前，CEO被迫离职大多因为财务业绩不佳，如今，道德问题却成了主因。在这种变化中，科技起了很大作用。</div><div class="item-time">4天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" MT PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082908" data-type="premium" data-keywords="汇率,人民币,中美关系,中美贸易战"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082908" class="item-headline-link locked">美国拟对“人为低估”汇率的国家实施惩罚</a></h2>
<a class="image" target="_blank" href="/premium/001082908" >
<figure class="loading" data-url="http://i.ftimg.net/picture/2/000086202_piclink.jpg"></figure>
</a>
<div class="item-lead">此举似乎意在警告中国，不要试图通过人为压低汇率来抵消关税提升的影响，但该工具也可能会被用来对付美国的盟友。</div><div class="item-time">6天前</div>
<div class="item-bottom"></div>
</div></div>
 <!--premium: : -->

 
<div class=" PT"></div>
<div class="item-container XL3 L3 S4 M6 P12     item-container-app has-image" data-id="001082906" data-type="premium" data-keywords="中美关系,中美贸易战,华为"><div class="item-inner">
<h2 class="item-headline"><a target="_blank" href="/premium/001082906" class="item-headline-link locked">特朗普：可能把华为问题纳入中美贸易协议</a></h2>
<a class="image" target="_blank" href="/premium/001082906" >
<figure class="loading" data-url="http://i.ftimg.net/picture/2/000086362_piclink.jpg"></figure>
</a>
<div class="item-lead">特朗普表示谈判仍有“很大的可能性”回归正轨，尽管华为“从安全性的角度考虑非常危险”，但仍可能被纳入协议。</div><div class="item-time">2019年5月24日</div>
<div class="item-bottom"></div>
</div></div>
                                                                                                               <div class="clearfloat"></div>
</div>
</div></div>    <div class="clearfloat block-bottom"></div>
</div>  </div>  <div class="clearfloat"></div>
</div> </div> <!--Pagination Included -->
<div class="pagination-container"><div class="pagination-inner"></div></div>
<script type="text/javascript">
function addPaginationHTML(maxIndex) {
var paginationEle = document.querySelector('.pagination-inner');
if (!paginationEle) {return;}
var p = paravalue(window.location.href, 'p');
if (p === '') {
p = 1;
}
var currentIndex = parseInt(p, 10);
if (typeof currentIndex !== 'number' || p <= 0) {return;}
var indexLength = (w && w>490) ? 10 : 5;
var startIndex = Math.max(1, currentIndex - Math.floor(indexLength/2));
var endIndex = startIndex + indexLength -1;
if (endIndex > maxIndex) {
endIndex = maxIndex;
startIndex = Math.max(1, endIndex - indexLength + 1);
}
var currentHTML = '';
var currentUrl = window.location.href.replace(/p=[0-9]+/g, '');
var connector = (currentUrl.indexOf('?') >= 0) ? '&' : '?';
currentUrl = currentUrl + connector;
currentUrl = currentUrl.replace(/\?&/g,'?').replace(/&+/g,'&');
for (var i=startIndex; i<=endIndex; i++) {
if (i === currentIndex) {
currentHTML += '<span class="current">' + i + '</span>';
} else {
currentHTML += '<a href="' + currentUrl + 'p=' + i + '">' + i + '</a>';
}
}
var nextIndex = currentIndex + 1;
if (nextIndex <= maxIndex) {
currentHTML += '<a href="' + currentUrl + 'p=' + nextIndex + '">&rsaquo;&rsaquo;下一页</a>';
}
if (endIndex < maxIndex) {
currentHTML += '<a href="' + currentUrl + 'p=' + maxIndex + '">&rsaquo;|</a>';
}
var prevIndex = currentIndex - 1; 
if (prevIndex >= 1) {
currentHTML = '<a href="' + currentUrl + 'p=' + prevIndex + '">上一页&lsaquo;&lsaquo;</a>' + currentHTML;
}
if (startIndex > 1) {
currentHTML = '<a href="' + currentUrl + 'p=1">|&lsaquo;</a>' + currentHTML;
}
paginationEle.innerHTML = currentHTML;
}
addPaginationHTML(5);
</script><div 
data-o-ads-name="paidpost"
class="o-ads paid-post"  
data-o-ads-formats-default="false" 
data-o-ads-formats-small="false"
data-o-ads-formats-medium="false"
data-o-ads-formats-large="FtcPaidpost"
data-o-ads-formats-extra="FtcPaidpost"
data-o-ads-targeting="cnpos=paidpost;"
>
</div>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KP4V3G')</script>
<img src='http://beacon.krxd.net/event.gif?event_id=KWA6DGT9&event_type=rtg' width=0 height=0 /><div style="display: none;" class="specialanchor" tag="慧智女性" title="慧智女性" adid="" channel="http://www.ftchinese.com/interactive/13338" hideAd="no" zone="smartwomen" storyKeyWords="" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="女性创业家" title="凯歌香槟·HER POWER" adid="" channel="" hideAd="no" zone="entrepreneurs" storyKeyWords="" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="" title="奔驰维权" adid="" channel="" hideAd="no" zone="" storyKeyWords="奔驰维权,消费者权益,西安车主" cntopic="benzprotest"></div>
<div style="display: none;" class="specialanchor" tag="" title="恐怖袭击" adid="5048" channel="" hideAd="no" zone="disaster" storyKeyWords="恐怖袭击" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="灾难" title="灾难" adid="5048" channel="" hideAd="no" zone="disaster" storyKeyWords="" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="空难" title="空难" adid="5048" channel="" hideAd="no" zone="disaster" storyKeyWords="" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="自然灾害" title="自然灾害" adid="5048" channel="" hideAd="no" zone="disaster" storyKeyWords="" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="车祸" title="车祸" adid="5048" channel="" hideAd="no" zone="disaster" storyKeyWords="" cntopic=""></div>
<div style="display: none;" class="specialanchor" tag="地震" title="地震" adid="5048" channel="" hideAd="no" zone="disaster" storyKeyWords="" cntopic=""></div>
<script type="text/javascript">
window.linksForShare = {
'url': window.location.href,
'title': '独家 - FT中文网',
'lead': '',
'image': ''
};
</script>
