<!DOCTYPE html>
<html class="{night-class} full-grid-story">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Language" content="zh-CN"/>
<title>{story-headline} - FT中文网</title>
<META name=keywords content="{story-tag}">
<meta content="" name="description"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>{{story-css}}</style>
<link rel="icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=32&height=32" sizes="32x32">
<link rel="icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=194&height=194" sizes="194x194">
<link rel="apple-touch-icon" sizes="180x180" href="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=180&height=180" />
<meta name="msapplication-TileColor" content="#fff1e0" />
<meta name="msapplication-TileImage" content="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=144&height=144" />
<script>var startTime = new Date().getTime();</script>
<script>
var gKeyTag = '';
var gauthor = '';
</script>
<script>var ftcteam="Translation";</script>
<script type="text/javascript">
var gPageId = 'message';
var storyGenre = '';
var storyArea = '';
var storyIndustry = '';
var mainTopic = '';
var subTopic = '';
</script>
<script type="text/javascript">
if(typeof startTime === "undefined"){
var startTime=new Date().getTime();
}
var FTStoryid = '{comments-id}';
</script>

<script type="text/javascript">{{story-js-key}}</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1608715-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    if (window.gAutoStart === undefined) {
        try {
            trackerNew();
        }catch(err){
            gtag('config', 'UA-1608715-1');
        }
    }
</script>
<!-- End Google Analytics -->
<!-- link click -->
<script>
function linkClickGa(e){
gtag('event', $(e).attr("href"), {'event_label': "An", 'event_category': 'AdClick'});
}
</script>
<!-- End link click -->

<!-- Log Analytics -->
<script>
if (window.gAutoStart === undefined) {
(function(d, s, u, j, x) {
j = d.createElement(s),
x = d.getElementsByTagName(s)[0];
j.async = true;
j.src = u;
x.parentNode.insertBefore(j, x)
})(document, 'script', 'https://d2ctehu9gm78k2.cloudfront.net/js/log.js?v=9&20180412');
}
</script>
<!-- End Log Analytics -->
</head>
<body class="{story-language-class}">
<div class="block-container no-side story-page">
    <div class="block-inner">
        <div class="content-container">
            <div class="content-inner">
                <div class="story-container"{story-container-style}>
                    {story-theme}
                    <h1 class="story-headline<!--{story-headline-class}-->" id="story-headline-ios">{story-headline}</h1>
                    <div class="story-lead">{story-lead}</div>
                    {story-image}
                    <div class="story-byline">
                        <span class="story-time">{story-time}</span>
                        <span class="story-author">{story-byline}</span>
                    </div>

                    <div class="story-body">
                        <div id="ios-story-body">{story-body}</div>
                        <div class="clearfloat"></div>
                    </div>
                    <div class="clearfloat block-bottom"></div>
                </div>
            </div>
        </div>
        <div class="clearfloat"></div>
    </div>
</div>

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KP4V3G');</script>

<div class="overlay-container" id="font-setting">
<div class="overlay-inner">
<div class="overlay-bg" data-parentid="font-setting"></div>
<div class="overlay-content-outer">
<div class="overlay-content-inner">
<div class="overlay-content">
<div class="overlay-title">设置字号<i class="overlay-close" data-parentid="font-setting">×</i></div>
<span class="font-options" id="font-options">
<div class="smallest first-child" data-font="0.8">最小</div>
<div class="smaller" data-font="0.9">较小</div>
<div class="normal" data-font="1">默认</div>
<div class="bigger" data-font="1.2">较大</div>
<div class="biggest" data-font="1.6">最大</div>
</span>
</div>
</div>
</div>
</div>
</div><div class="overlay-container" id="share-legacy">
<div class="overlay-inner">
<div class="overlay-bg" data-parentid="share-legacy"></div>
<div class="overlay-content-outer">
<div class="overlay-content-inner">
<div class="overlay-content">
<div class="overlay-title">分享<i class="overlay-close" data-parentid="share-legacy">×</i></div>
<span id="sharelinks"></span>
</div>
</div>
</div>
</div>
</div></body>


<script type="text/javascript">{{story-js-main}}</script>

<script>

function updateHeadline(headline) {
    var headlineEle = document.querySelector('.story-headline');
    headlineEle.innerHTML = headline.replace("{singlequote}", "'");
}

function updateBody(body) {
    var bodyEle = document.getElementById('ios-story-body');
    var bodyHTML = body.replace("{singlequote}", "'");
    bodyEle.innerHTML = bodyHTML;
    window.scrollTo(0, 0);
}

function updateBodyClass(newClass) {
    var bodyClass = document.body.className;
    bodyClass = bodyClass.replace(/ ce/, '').replace(/ en/, '');
    bodyClass += newClass;
    document.body.className = bodyClass;
}

function updateUserInfo() {
    var storyBody = document.getElementById('ios-story-body');
    if (storyBody) {
        var storyBodyHTML = storyBody.innerHTML
        storyBodyHTML = storyBodyHTML.replace(/<!--ftcusername-->/g, username);
        storyBody.innerHTML = storyBodyHTML;
    }
}

updateUserInfo();

</script>

</html>