<!DOCTYPE html>
<html class="no-js core" data-next-app="front-page">
 <head>
 <meta charset="utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta http-equiv="Content-Language" content="zh-CN"/>
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />


<style>{{person-css}}</style>

<!-- MARK: Important: Need to add Google Analytics load events manually -->

<script type="text/javascript">{{person-js}}</script>


</head>

<body id="person-info-body">
    <div  class="person-info-contatiner">
       <div>
        <a href="fileinbundle://account/登录" class="person-portrait-section">
            <label><img src="http://static.ftchinese.com/images/png/personInfoPortraitL.png"/></label>
            <span>登录</span>
            <label><img src="http://static.ftchinese.com/images/png/personInfoPortraitR.png"/></label>
        </a>
        <a href="fileinbundle://my-love/我的订阅" class="person-case-section">
            <label><img src="http://static.ftchinese.com/images/png/personInfoSubscribe.png"/></label>
            <span>我的订阅</span>  
        </a>
        <a href="fileinbundle://my-love/我的收藏" class="person-case-section">
            <label><img src="http://static.ftchinese.com/images/png/personInfoLove.png"/></label>
            <span>我的收藏</span> 
            <div class="count-info">
                <span class="">5</span>  
            </div> 
        </a>
        <a href="fileinbundle://my-love/我的下载" class="person-case-section">
            <label><img src="http://static.ftchinese.com/images/png/personInfoDownload.png"/></label>
            <span>我的下载</span>  
        </a>
        <a  class="person-case-section" >
            <label><img src="http://static.ftchinese.com/images/png/personInfoSetting.png"/></label>
            <span onclick="openMySetting(this)">我的设置</span>  
        </a>
       </div>
    </div>
</body>
<script type="text/javascript">
   
</script>
</html>