<!DOCTYPE html>
<html class="no-js core" data-next-app="front-page">
 <head>
 <meta charset="utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta http-equiv="Content-Language" content="zh-CN"/>
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />


<style>{{person-css}}</style>

<script>
ga('create', 'UA-1608715-1', 'auto');
ga('require', 'displayfeatures');
if (window.gAutoStart === undefined) {
try {
trackerNew();
}catch(err){
ga('send', 'pageview');
}
}
</script>
<!-- End Google Analytics -->
<!-- link click -->
<script>
function linkClickGa(e){
ga('send','event','AdClick', $(e).attr("href"), "An");
}
</script>
<!-- End link click -->
<!-- FTC Analytics -->
<script>
fa('create', 'UA-XXXX-Y', { 'alwaysSendReferrer': true });   // Replace with your property ID.
if (window.gAutoStart === undefined) {fa('send', 'pageview');}
</script>
<!-- End FTC Analytics -->
<!-- Log Analytics -->
<script>
if (window.gAutoStart === undefined) {
(function(d, s, u, j, x) {
j = d.createElement(s),
x = d.getElementsByTagName(s)[0];
j.async = true;
j.src = u;
x.parentNode.insertBefore(j, x)
})(document, 'script', 'http://static.ftchinese.com/js/log.js?v=7&20160318');
}
</script>
<!-- End Log Analytics -->
<!-- Baidu Analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?6f808c64c1308274ef22324b340e40af";
var s = document.getElementsByTagName("script")[0]; 
s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- End Baidu Analytics -->
<script type="text/javascript">{{story-js-key}}</script>

<style>


</style>
</head>



<body>

<div class="account-container">


<div  id="nologincomment" class="nologincomment">
    <div class="container">
        <div class = "comment-logo-section">LOGO</div>
        <div class = "comment-input-section">
            <label><img src="http://static.ftchinese.com/images/png/enrolEmail.png"/></label>
            <input type="text" placeholder="请输入账户" autocorrect="off" name="username" id="username1" class=""/> 
        </div>
        <div class="register-instruction">用于登录ftcc，40字符以内</div>
        <div class = "comment-input-section">
            <label><img src="http://static.ftchinese.com/images/png/accountPassword.png"/></label>
            <input type="text" placeholder="请输入密码" autocorrect="off" name="username" id="username1" class=""/>
            <label class="password-eye"><img src="http://static.ftchinese.com/images/png/accountEye.png"/></label>
        </div>
        <div class="register-instruction">6-20位英文字母和数字组合</div>
        <!--<input type="submit" value="注册" class="ui-login-btn register-btn" onclick=""/> -->
        <div class="ui-login-btn register-btn">注册</div>
        <div class="register-instruction agree-instruction">点击“注册”按钮，即代表您同意FTCC用户注册协议</div>

    </div>
</div>


</div>

</body>
<script type="text/javascript">
    // checkLogin();
</script>
</html>