<!DOCTYPE html>
<html class="no-js core" data-next-app="front-page">
 <head>
 <meta charset="utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta http-equiv="Content-Language" content="zh-CN"/>
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<style>
    {{search-css}}
</style>
<!-- MARK: Important: Need to add Google Analytics load events manually -->
<script>
{{analytics}}
</script>
<script>
var userIdForGA = GetCookie('USER_ID');
if (userIdForGA !== null) {
    ga('create', 'UA-1608715-1', 'auto', {userId: userIdForGA}); 
} else {
    ga('create', 'UA-1608715-1', 'auto'); 
}
ga('require', 'displayfeatures');ga('require', 'ec');
if (window.gAutoStart === undefined) {
try {
trackerNew();
}catch(err){
ga('send', 'pageview');
}
}
</script>
<!-- End Google Analytics -->
<!-- link click -->
<script>
function linkClickGa(e){
ga('send','event','AdClick', $(e).attr("href"), "An");
}
</script>
<!-- End link click -->

<!-- Log Analytics -->
<script>
if (window.gAutoStart === undefined) {
(function(d, s, u, j, x) {
j = d.createElement(s),
x = d.getElementsByTagName(s)[0];
j.async = true;
j.src = u;
x.parentNode.insertBefore(j, x)
})(document, 'script', 'https://static.ftimg.net/js/log.js?v=9&20180412');
}
</script>
<!-- End Log Analytics -->
 </head>

 <body>

<div id="search-results">{search-html}</div>

<script>
{{search-js}}
</script>

 </body>
</html>