<!DOCTYPE html>
<html class="{night-class}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Language" content="zh-CN"/>
<title>{story-headline} - FT中文网</title>
<META name=keywords content="{story-tag}">
<meta content="" name="description"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>{{story-css}}</style>
<link rel="icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=32&height=32" sizes="32x32">
<link rel="icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=194&height=194" sizes="194x194">
<link rel="apple-touch-icon" sizes="180x180" href="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=180&height=180" />
<meta name="msapplication-TileColor" content="#fff1e0" />
<meta name="msapplication-TileImage" content="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimg%2Ffriend-share-icon.jpg?source=ftchinese&width=144&height=144" />
<!-- AndroidUserInfo -->
<script>var startTime = new Date().getTime();</script>
<script>
var gKeyTag = '{story-tag}';
var gauthor="{story-author}".replace(/ and /g,",").replace(/([\s\_]+)[Bb]y /g,"$1").replace(/ in .*/g,"").replace(/,.*/g,"").replace(/\s+$/g,"").replace(/^\s+/g,"").replace(/\s+/g,"_");
</script>
<script>var ftcteam="Translation";</script>
<script type="text/javascript">
var gPageId = 'story';
var storyGenre="{story-genre}";
var storyArea="{story-area}";
var storyIndustry="{story-industry}";
var mainTopic="{story-main-topic}";
var subTopic="{story-sub-topic}";
</script>
<script type="text/javascript">var FTadchannelID = '';</script>
<script type="text/javascript">
if(typeof startTime === "undefined"){
var startTime=new Date().getTime();
}
var adchID = '{adchID}';
var FTStoryid = '{comments-id}';
</script>

<script type="text/javascript">{{story-js-key}}</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1608715-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    if (window.gAutoStart === undefined) {
        try {
            trackerNew();
        }catch(err){
            gtag('config', 'UA-1608715-1');
        }
    }
</script>
<!-- End Google Analytics -->
<!-- link click -->
<script>
function linkClickGa(e){
gtag('event', $(e).attr("href"), {'event_label': "An", 'event_category': 'AdClick'});
}
</script>
<!-- End link click -->

<!-- Log Analytics -->
<script>
if (window.gAutoStart === undefined) {
(function(d, s, u, j, x) {
j = d.createElement(s),
x = d.getElementsByTagName(s)[0];
j.async = true;
j.src = u;
x.parentNode.insertBefore(j, x)
})(document, 'script', 'https://static.ftimg.net/js/log.js?v=9&20180412');
}
</script>
<!-- End Log Analytics -->
<script>
var gIsCurrentAdchFinal = false;
</script>
<!--isCurrentAdchFinal: no-->

<script type="text/javascript">{{ad-pollyfill-js}}</script>
<script async src="https://www.googletagservices.com/tag/js/gpt.js"></script>
<script type="text/javascript">{{db-zone-helper-js}}</script>
<script type="text/javascript"><!--{{cntopic}}--></script>
<script>
    var userKv = GetCookie('USER_KV');
    var dfpTargetingStr = '';
    if (userKv) {
      var userKvObj = parseUserkv(userKv);
      dfpTargetingStr = getDfpTargetingStr(userKvObj);
    }
    if (gUserType && gUserType !== '') {
        dfpTargetingStr = 'cnuser=' + gUserType + ';' + dfpTargetingStr;
    }
    if (window.location.href.indexOf('webview=ftcapp') >= 0) {
        dfpTargetingStr = 'cnplatform=app;' + dfpTargetingStr;
    } else {
        dfpTargetingStr = 'cnplatform=web;' + dfpTargetingStr;
    }
    if (window.cntopic && window.cntopic !== '') {
        dfpTargetingStr = 'cntopic=' + window.cntopic + ';' + dfpTargetingStr;
    }
    if (window.languagePreference && window.languagePreference >= 0) {
        dfpTargetingStr = 'cnlp=' + window.languagePreference + ';' + dfpTargetingStr;
    }
    var configJson = JSON.stringify({
        gpt: {
            "network": 21753042392,
            "site": "FtChinese",
            "zone": '{ad-zone}'
        },
        collapseEmpty: 'before',
        dfp_targeting: dfpTargetingStr,
        formats: {
            "FtcLeaderboard" : {
                "sizes":[[1200, 120], [1200, 400], [1200, 250], [969, 90], [969, 400], [969, 250]]
            },
            "FtcBanner": {
                "sizes":[[1200, 120], [969, 90]]
            },
            "FtcMobileBanner": {
                "sizes": [[414, 104]]
            },
            "FtcMobileMpu":{
                "sizes":[[300, 250]]
            },
            "FtcMpu":{
                "sizes":[[300, 250], [300, 600], [300,1050]]
            },
            "FtcInfoFlow":{
                "sizes":[[400, 300]]
            },
            "FtcMobileFullscreen": {
                "sizes":[[414, 736]]
            },
            "FtcPcFullscreen":{
                "sizes":[[700, 520]]
            },
            "FtcPaidpost":{
                "sizes":[[280, 350]]
            },
            "FtcRibbon":{
                "sizes":[[300, 60]]
            },
            "FtcMembertext":{
                "sizes":[[300, 47]]
            }
        }
    });
    var configScriptJsonStr = '<scr'+'ipt data-o-ads-config="" type="application/json">'+configJson+'</scr'+'ipt>';
    document.writeln(configScriptJsonStr);
</script>



</head>
<body class="{story-language-class}">





{Top-Banner}




<div class="block-container has-side story-page">
    <div class="block-inner">
        <div class="content-container">
            <div class="content-inner">
                <div class="story-container"{story-container-style}>
                    <div class="story-topper">
                        {story-theme}
                        <h1 class="story-headline<!--{story-headline-class}-->" id="story-headline-ios">{story-headline}</h1>
                        <div class="story-lead">{story-lead}</div>
                        {story-image}
                    </div>
                    <div class="story-byline">
                        <span class="story-time">{story-time}</span>
                        <span class="story-author">{story-byline}</span>
                    </div>
                    <div class="story-body">
                        <div id="ios-story-body">{story-body}</div>
                        <div class="clearfloat"></div>
                    </div>
                    <div class="clearfloat block-bottom"></div>
                </div>
                {Bottom-Banner}
                <h2 class="list-title"><a class="list-link" href="#">读者评论</a></h2>
                <div id="allcomments" class="allcomments container"></div>
                <div id="logincomment" class="logincomment">
                    <form id="storyForm">
                    <div class="comment-input-container">
                    <div class=container>
                    <div style="margin:5px 0;">FT中文网欢迎读者发表评论，部分评论会被选进《读者有话说》栏目。我们保留编辑与出版的权利。</div>
                    <textarea name="Talk" id="Talk" class="commentTextArea" width="100%" rows="3"></textarea>
                    <span style="display:none">
                    <input name="use_nickname" type="hidden" id="name" onclick="unuseit(this);"/>
                    <label for="name" style="display:none">匿名</label>
                    <input name="use_nickname" type="radio" id="userid" value="0" onclick="useit(this);" checked/>
                    <input type="text"  autocorrect="off" class="user_id textinput nick_name" name="NickName" id="nick_name" value=""/>
                    </span>
                    <input type="button" value="提交评论" class="comment_btn submitbutton button ui-light-btn" id="addnewcomment"/>
                    <input type="button" value="登出" class="comment_btn button ui-light-btn" onclick="javascript: logout();"/>
                    <input type="hidden" name="storyid"  id=cstoryid value=""/>
                    </div>
                    </div>
                    </form>
                </div>
                <div id="nologincomment" class="nologincomment">
                    <div class="container">
                        <div class="username-label">用户名</div>
                        <input type="text"  autocorrect="off" name="username" id="username1" class="user_id textinput user-name"/>
                        <div class="password-label">密码</div>
                        <input type="password" name="password"  class="user_id textinput password" id="password1"/>
                        <input type="submit" value="登录后发表评论" class="comment_btn submitbutton button ui-light-btn" onclick="login(1)"/>
                        <div class="topmargin statusmsg"></div>
                        <a class="social-login-wechat" href="ftcregister://www.ftchinese.com/"><div class="centerButton"><button class="ui-light-btn stress">免费注册</button></div></a>
                        <a class="social-login-wechat" href="weixinlogin://www.ftchinese.com/"><div class="centerButton"><button class="ui-light-btn wechat-login">微信登录</button></div></a>
                    </div>
                </div>
                <script type="text/javascript">
                    loadcomment('{comments-id}', 'allcomments', '{comments-order}');
                    checkLogin();
                    clickToSubmitComment();
                </script>
                <div class="items">
                    <div
                    data-o-ads-name="infoflow3"
                    class="o-ads infoflow"
                    data-o-ads-formats-default="false"
                    data-o-ads-formats-small="FtcInfoFlow"
                    data-o-ads-formats-medium="false"
                    data-o-ads-formats-large="false"
                    data-o-ads-formats-extra="false"
                    data-o-ads-targeting="cnpos=info3;"
                    >
                    </div>
                </div>
            </div>
        </div>
        <div class="side-container">
            <div class="side-inner">
                {Right-1}
                {related-stories}
                <div class="story-box last-child"{story-container-style}>
                <h2 class="box-title"><a>相关主题</a></h2>
                <div class="item-lead item-description"><!--{related-topics-description}--></div>
                <ul class="top10">
                {related-topics}
                </ul>
                </div>
            </div>
        </div>
        <div class="clearfloat"></div>
    </div>
</div>


<div class="block-container no-side" id="story-recommend-container"><div class="block-inner">
    <div class="content-container"><div class="content-inner">
        <div class="list-container"><div class="list-inner">
            <h2 class="list-title"><a class="list-link" href="#">您可能感兴趣的文章</a></h2>
            <div class="items" id="story-recommend-bottom"></div>
            <div class="items">
                <div
                data-o-ads-name="infoflow4"
                class="o-ads infoflow"
                data-o-ads-formats-default="false"
                data-o-ads-formats-small="FtcInfoFlow"
                data-o-ads-formats-medium="false"
                data-o-ads-formats-large="false"
                data-o-ads-formats-extra="false"
                data-o-ads-targeting="cnpos=info4;"
                >
                </div>
            </div>
        </div></div>
    </div></div>
    <div class="clearfloat block-bottom"></div>
</div></div>


<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KP4V3G');</script>

<div class="overlay-container" id="font-setting">
<div class="overlay-inner">
<div class="overlay-bg" data-parentid="font-setting"></div>
<div class="overlay-content-outer">
<div class="overlay-content-inner">
<div class="overlay-content">
<div class="overlay-title">设置字号<i class="overlay-close" data-parentid="font-setting">×</i></div>
<span class="font-options" id="font-options">
<div class="smallest first-child" data-font="0.8">最小</div>
<div class="smaller" data-font="0.9">较小</div>
<div class="normal" data-font="1">默认</div>
<div class="bigger" data-font="1.2">较大</div>
<div class="biggest" data-font="1.6">最大</div>
</span>
</div>
</div>
</div>
</div>
</div><div class="overlay-container" id="share-legacy">
<div class="overlay-inner">
<div class="overlay-bg" data-parentid="share-legacy"></div>
<div class="overlay-content-outer">
<div class="overlay-content-inner">
<div class="overlay-content">
<div class="overlay-title">分享<i class="overlay-close" data-parentid="share-legacy">×</i></div>
<span id="sharelinks"></span>
</div>
</div>
</div>
</div>
</div></body>

<script type="text/javascript">
var follows = {
    'tag': ['{follow-tags}'],
    'topic': ['{follow-topics}'],
    'industry': ['{follow-industries}'],
    'area': ['{follow-areas}'],
    'author': ['{follow-authors}'],
    'column': ['{follow-columns}']
}
</script>

<script type="text/javascript">{{story-js-main}}</script>


<script>

function updateHeadline(headline) {
    var headlineEle = document.querySelector('.story-headline');
    headlineEle.innerHTML = headline.replace("{singlequote}", "'");
}

function updateBody(body) {
    var bodyEle = document.getElementById('ios-story-body');
    var bodyHTML = body.replace("{singlequote}", "'");
    bodyEle.innerHTML = bodyHTML;
    window.scrollTo(0, 0);
}

function updateBodyClass(newClass) {
    var bodyClass = document.body.className;
    bodyClass = bodyClass.replace(/ ce/, '').replace(/ en/, '');
    bodyClass += newClass;
    document.body.className = bodyClass;
}

function updateTimeStamp(newTimeStamp) {
    var storyTimeEle = document.querySelector('.story-time');
    if (storyTimeEle) {
        storyTimeEle.innerHTML = newTimeStamp;
    }
}

</script>

</html>
